<tier-promotion id="tier-promotion">
    <div class="tier-promotion-container">
        <div class="tier-below tier-message">
            {% render 'icon-bell' %}
            <div>Spend <span class="tier-amount"></span> more to get a <b>Free DELTA mini</b> after using code.</div>
        </div>
        <div class="tier-above tier-message">
            {% render 'icon-confetti' %}
            <div>You've got a <b>Free DELTA mini.</b></div>
        </div>
    </div>
  </tier-promotion>