<style>
#shopify-section-product-template {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
}
#shopify-section-product-template .rk-widget-container {
    padding: 30px;
    margin-top: 48px;
    background-color: #f8f8f8;
    border-radius: 8px;
}
#shopify-section-product-template .rktheme-bundle-title {
    display: block;
    width: 100%;
    text-align: center;
}
#shopify-section-product-template .button {
    background-color: var(--checkout-btn-bg);
    color: var(--checkout-btn-color);
    padding: 15px 10px;
    justify-content: center;
    font-size: 17px;
    line-height: 1.4;
    text-transform: uppercase;
    flex: 0 0 auto;
    border-radius: 50px;
    min-height: 48.28px;
    line-height: 1.4!important;
}
#shopify-section-product-template .money {
    color: var(--checkout-btn-bg);
}
@media screen and (max-width: 749px) {
    #shopify-section-product-template {
    padding: 0;
    }
    #shopify-section-product-template .rk-widget-container {
    padding: 20px;
    margin-top: 28px;
    border-radius: 0;
    }
    #shopify-section-product-template .rktheme-bundle-title {
    font-size: 24px;
    text-align: left;
    }
}
</style>
<div id="shopify-section-product-template"></div>