<div class="disaster-iwt">
    <h2 class="disaster-blue-heading">{{ section.settings.title }}</h2>
    <div class="disaster-subheading">{{ section.settings.richtext }}</div>
  <div class="disaster-iwt-image">
    {% render 'ht-responsive-image',
      image: section.settings.image,
      image_mobile: section.settings.image_mobile
    %}
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Title",
      "default": "What Are The Causes Of Power Outages?"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Richtext"
    }
  ]
}
{% endschema %}
