.section-left-text .half  .des{
    color: #444;
}
.portable-power-stations .des {
    color: #444;
}
.portable-power-stations .des.color-white {
    color: white;
}
.portable-power-stations .section-75 .half-mask .text .des {
    opacity: 1;
}
.portable-power-stations .banner-new .text {
    transform: unset;
    left: 138px;
    top: 132px !important;
    width: 100%;
}
.portable-power-stations .banner-new .text .title-h1 {
    font-size: 120px;
    line-height: 118px;
    color: #fff!important;
    text-align: left;
}
.portable-power-stations .banner-new .text {
    top: 141px;

}
.section-75 .show-content .content-slide.active-slide {
    border-left: 0px solid rgba(255,255,255,1);
    padding: 63px 0 10px 0px;
}
.section-71 .des.soml2{
    font-size: 64px;
    font-weight: bold;

    line-height: 107px;
    margin-top: 85px;
}
.river-portable-power-stations .section-left-text.pr.mtp {
    margin-top: 269px;
}

@media screen and (min-width: 767px){
.portable-power-stations .new-section-2 .text .des {
    font-size: 50px !important;
    font-weight: 700;
}

}

.portable-power-stations .new-section-2 .text .des {

    line-height: 1.25em;
}

.portable-power-stations .new-section-2 .text {
    max-width: 1250px;
    margin: 0 auto;
    padding-bottom: 150px;
    padding-top: 80px;
}

.section-71 .text.tc{
    position: static !important;
    padding-top: 109px;
    padding-left: 24.3%;
    text-align: left;
    padding-bottom: 162px;
}

.section-71 .des.soml{
   font-size: 20px;
   font-weight: 500;
   color: #FFFFFF;
   width: 529px;
    margin-top: 68px;
    margin-bottom: 68px;
}

 .section-71 .des.soml2{
    color: white;
}

 .section-71 .bold.title-h2{
    font-size: 36px!important;
    font-weight: 700;
    color: #fff!important;
    line-height: 1.3em;
}
.portable-power-stations .banner-new .text {
    top: 191px;
}
.banner-new.pr img{
    margin-top: 0px;
}
.banner-new.pr{
    background: #1d1d1d;
}

@media (min-width: 768px)  and (max-width: 1200px){
.portable-power-stations .new-section-2 .text {

    margin: 0 auto;
    padding-bottom: 153px;
    padding-top: 100px;
    max-width: 700px;
}

.section-71 .text.tc{
    position: static;
    /* top: 5em; */
    left: 13%;
    text-align: left;
    padding-top: 85px;
    padding-left: 24.3%;
    text-align: left;
    padding-bottom: 102px;
}

  .section-71 .bold.title-h2 {
    font-size: 30px!important;

}
.section-71 .des.soml2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;
    margin-top: 56px;
}
.section-71 .des.soml{
   font-size: 20px;
   font-weight: 500;
   color: #FFFFFF;
   width: 529px;
    margin-top: 46px;
    margin-bottom: 46px;
}

.banner-new.pr img{
    margin-top: 180px;
}
.banner-new.pr{
    background: #1d1d1d;
}
}
@media screen and (max-width: 767px){

.portable-power-stations .new-section-2 .text {
    max-width: 1250px;
    margin: 0 auto;
    padding-right: 7px;
    padding-bottom: 63px;
    padding-top: 30px;
}

  .portable-power-stations .new-section-2 .text .des{
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 25px;
    line-height: 19px;
}

.banner-new.pr img{
    margin-top: 170px;
}
.banner-new.pr{
    background: #1d1d1d;
}
.portable-power-stations .banner-new .text {
    top: 91px;
}
.portable-power-stations .section-container.custom_mobile_show .title-h2{
    font-size: 23px !important;
    font-weight: bold;
    color: #1D1D1F;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 28px;
    line-height: 28px;
}
.portable-power-stations  .half-immobile{
    padding: 0 20px;
    padding-right: 30px;
    margin-bottom: 23px;
}
.portable-power-stations .a-button.font-gotham {
        margin-top: 50px;
    padding: 0 2px;
    height: 50px;
    line-height: 25px;
    margin-left: 20px;
    background: #1D1D1D;
    color: #fff;
    width: 104px;
    height: 30px;
    font-size: 15px;
}
.portable-power-stations .mtp{
    margin-top: 55px;
}
.portable-power-stations .mtp .half-immobile {
    padding: 0 30px 0 20px;
    margin-bottom: 20px;
    padding-left: 6px;
}

.section-71 .bold.title-h2{
    font-size: 18px !important;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 38px;
    padding-top: 40px;
    line-height: 22px;
}
.river-portable-power-stations .section-71.pr{
    position: static;
    background: #1D1D1F;
}
.section-71 .text.tc {
    position: static;
    top: 125px;
    left: 297px;
    text-align: left;
}
.section-71 .text.tc {
    position: static!important;
    padding-top: 79px;
    padding-left: 20px;
    text-align: left;
    padding-bottom: 76px;
}
.section-71 .des.soml {

    font-weight: 500;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 48px;
        font-size: 13px;
    color: #444;
}
.custom .section-71 .des.soml2 {
    font-size: 22px;
    line-height: 44px;
    margin-bottom: 47px;
}
}


@media (min-width: 768px)  and (max-width: 1000px){

.section-71 .text.tc{
    position: absolute;
    top: 2.5em;
    left: 13%;
    text-align: left;
}
.section-71 .bold.title-h2 {
    font-size: 22px!important;

}

.section-71 .des.soml{
   font-size: 20px;
   font-weight: 500;
   color: #FFFFFF;
   width: 529px;
    margin-top: 40px;
    margin-bottom: 40px;
}

 .custom .section-71  .des {
    font-size: 38px;
    line-height: 60px;
}


}




@media all{
.river-portable-power-stations .half-text{width:50%;position:absolute;top:40%;right:0%;transform:translateY(-50%);font-size:80px;font-weight:700;font-stretch:normal;line-height:88px;letter-spacing:0px;color:#1d1d1d;}
.portable-power-stations .half-img-left{width:50%;left:3%;margin-left:8%;}
.river-portable-power-stations .pr{position:relative;}
.river-portable-power-stations .section-left-text.pr{margin-bottom:11px;}
.half-text-right-t .title-h2{font-size:36px!important;font-weight:700;font-stretch:normal;line-height:40px;padding-left:0px;letter-spacing:0px;color:#1d1d1d;margin-bottom:20px;}
.portable-power-stations .pr .half-img-left{width:42%;left:0%;margin-left:0%;}
.river-portable-power-stations .half-text.half-text-right-t{
  max-width:487px;width:50%;position:absolute;top:50%;right:9%;transform:translateY(-50%);

    max-width: 627px;
    width: 57.5%;
    position: absolute;
    top: 50%;
    right: unset;
    left: calc(42.5% + 45px);
    transform: translateY(-50%);

}

  .half-text-right-t .title-h2{width:unset;}
@media screen and (max-width:767px){
.section-left-text.pr{display:none;}
}
@media (min-width: 768px) and (max-width: 1400px){
.portable-power-stations .half-img-left{width:38%;left:3%;margin-left:8%;}
.river-portable-power-stations .half-text{top:43%;}
}
@media (min-width: 768px) and (max-width: 1200px){
.river-portable-power-stations .half-text{top:46%;}
.portable-power-stations .section-left-text .des{font-size:15px;line-height:24px;}
.half-text-right-t .title-h2{font-size:26px!important;line-height:30px;}
.river-portable-power-stations .half-text.half-text-right-t{width:49%;right:0%;}
}
@media (min-width: 767px) and (max-width: 1000px){
.river-portable-power-stations .tiaoz .half-text-right-t .title-h2{padding-left:10px;letter-spacing:0px;color:#1d1d1d;margin-bottom:10px;}
.river-portable-power-stations .tiaoz .text{padding:0 10px;}
}
@media (min-width: 987px) and (max-width: 970px){
.river-portable-power-stations .tiaoz .half-text.half-text-right-t{width:420px;right:1%;}
}
}







@media all{
.river-portable-power-stations .half-text{width:50%;position:absolute;top:40%;right:0%;transform:translateY(-50%);font-size:80px;font-weight:700;font-stretch:normal;line-height:88px;letter-spacing:0px;color:#1d1d1d;}
.river-portable-power-stations .half-text.half-text-left{
  width:553px;position:absolute;top:47%;left:7%;transform:translateY(-50%);font-size:20px;
  font-weight:500;font-stretch:normal;line-height:23px;letter-spacing:0px;color:#6e6e73;
  text-align: right;

}
.river-portable-power-stations .half-text.half-text-left  .text {
    padding: 0 3px;
}
  .half-text.half-text-right-t .text {
    padding: 0px;
}
.river-portable-power-stations .pr{position:relative;}
.river-portable-power-stations .section-left-text.pr{margin-bottom:11px;}
.river-portable-power-stations .pr .half-img.half-img-right{
    margin-left: 56%;
    width: 44%;

}
.half-text.half-text-left .title-h2{font-size:36px!important;font-weight:700;font-stretch:normal;line-height:40px;padding-left:20px;letter-spacing:0px;color:#1d1d1d;margin-bottom:20px;}
.river-portable-power-stations .pr .half-text.half-text-left{top:50%;left:calc(50% - 620px);}
.river-portable-power-stations .pr .half-text.half-text-left {
    top: 50%;
    left: unset;
    text-align: right;
    right: calc(44% + 45px);
    max-width: 608px;
    width: unset;
}
@media screen and (max-width:767px){
.section-left-text.pr{display:none;}
}
@media (min-width: 768px) and (max-width: 1400px){
.river-portable-power-stations .half-text{top:43%;}
.river-portable-power-stations .half-text.half-text-left{top:57%;}
}
@media (min-width: 768px) and (max-width: 1200px){
.river-portable-power-stations .half-text{top:46%;}
.river-portable-power-stations .pr .half-text.half-text-left{left:2%;}
.river-portable-power-stations .half-text.half-text-left{width:45%;}
.portable-power-stations .section-left-text .des{font-size:15px;line-height:24px;}
.half-text.half-text-left .title-h2{font-size:26px!important;line-height:30px;}
}
@media (min-width: 1200px) and (max-width: 1400px){
.river-portable-power-stations .pr .half-text.half-text-left{left:6%;}
.river-portable-power-stations .half-text.half-text-left{width:36%;}
}

@media (min-width: 1200px) and (max-width: 1300px){
/* .river-portable-power-stations .section-left-text .half-text.half-text-left{width:461px;} */
}
}

.a-button.font-gotham{
    margin-top: 24px;
    padding: 0 32px;
    height: 50px;
    line-height: 48px;
}



@media all{
.river-portable-power-stations .section-left-right{position:relative;}
.river-portable-power-stations .half-text{width:50%;position:absolute;top:22%;right:0%;transform:translateY(-50%);font-size:80px;font-weight:700;font-stretch:normal;line-height:88px;letter-spacing:0px;color:#1d1d1d;}
.portable-power-stations .half-img-left{width:50%;left:3%;margin-left:8%;}
.portable-power-stations .half-text.half-text-right .des{width:99%;height:326px;font-size:80px;font-weight:700;font-stretch:normal;line-height:88px;letter-spacing:0px;color:#1d1d1d;text-align:left;}
.section-left-right{clear:both;}
@media screen and (max-width:767px){
.river-portable-power-stations .section-left-right{background:#1d1d1d;}
.text-top .title-1{font-size:28px;font-weight:700;font-stretch:normal;line-height:30px;letter-spacing:0px;color:#fff;padding-top:39px;padding-bottom:25px;text-align:left;}
.section-left-right .des{font-size:12px;line-height:17px;text-align:left;margin-right:35px;color:#6e6e73;}
.section-left-right.ch:after{content:"";display:block;clear:both;}
.river-portable-power-stations .half.text-top img{padding:20px 50px 20px 20px;margin-bottom:31px;}
}
@media (min-width: 768px) and (max-width: 1400px){
.portable-power-stations .half-img-left{width:38%;left:3%;margin-left:8%;}
.portable-power-stations .half-text.half-text-right .des{width:99%;height:326px;font-size:.77em;font-weight:700;font-stretch:normal;line-height:1.1em;letter-spacing:0px;color:#1d1d1d;text-align:left;}
.river-portable-power-stations .half-text{top:43%;}
}
@media (min-width: 768px) and (max-width: 1200px){
.portable-power-stations .half-text.half-text-right .des{font-size:.57em;}
.river-portable-power-stations .half-text{top:46%;}
}
}


@media screen and (max-width:767px){
.custom_mobile.section-container .title-1{
    font-size: 17px;
    font-weight: 700;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: #fff;
    margin-bottom: 17px;
}
.custom_mobile.section-container .des{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: 0px;
    color: #444;
    margin-right: 35px;
    margin-bottom: 50px;
    margin-top: 0px;
}
.custom_mobile.section-container.whites .des{
    color: white;
}
.custom_mobile.section-container{background:#1d1d1d;margin-top:-2px;}
  .custom_mobile.white.section-container {
    background: unset;

}
.custom_mobile.white.section-container .title-1 {

    color: #414141;

}
.river-portable-power-stations .title-1.title-bold{
    font-size: 18px !important;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 50px;
    line-height: 21px;
}
}


@media screen and (min-width:767px){
.portable-power-stations  .section-71.pr img{
    width: 100%;
    background: #0b0b0b;
    opacity: 0.22;
}
.portable-power-stations .section-71.pr{
    background: #0b0b0b;
        margin-top: 80px;
}
}


.portable-power-stations .ch .half-img-left {
    width: 62%;
    left: 19%;
    margin-left: 19%;
}

.portable-power-stations .title-s h2{
    font-size: 80px!important;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 94px;
    margin-bottom: 87px;
    margin-top: 213px;
    margin-left: 18.5%;

}

.section-left-right.ch.section-container .half.half-text.half-text-right.custom_mobile_hidden .title-1{
    font-size: 25px;
    font-weight: bold;
    color: #1D1D1D;
}

 .section-left-right.ch.section-container .half.half-text.half-text-right.custom_mobile_hidden .des{
    font-size: 18px;
    font-weight: 500;
    color: #444;
    line-height: 25px;
    margin-top: 24px;
}


 .section-left-right.ch.section-container .half.half-text .text.tc{
    text-align: left;
    width: 50%;
}

.portable-power-stations .three .half-text.half-text-right .des {
    height: unset;
    margin-bottom: 50px;
}

.section-left-right.ch.section-container .half.half-text .text.tc {
    text-align: left;
    width: 67%;
}

.section-6 .show-me .items-title{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 38px;
    color: #FFFFFF;
}

.section-6 .item-container {
    clear: both;
}
.touming{
    opacity: 0;
}
.portable-power-stations  .section-6  hr{

    width: 44px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #6E6E73;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-bottom: 39px;
}
.portable-power-stations  .section-6 .mtophr{
    margin-bottom: 13px;
}
.portable-power-stations  .section-6 .mtops{
    font-size: 18px;
    line-height: 20px;
    padding-top: -30px !important;
    color: #959595;
}
.section-6 .connected{
    text-align: center;
    margin-bottom: 138px;
    padding-top: 54px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1200px){
.section-left-right.three{
    margin-bottom: 155px;
}
}
@media screen and (min-width:1200px){
.section-left-right.three{
    margin-bottom: 236px;
}
}
@media (min-width: 768px) and (max-width: 1400px){
.river-portable-power-stations .half-text {
    top: 23%;
    right: 2%;
}
.section-left-right.three{
    margin-bottom: 95px;
}
.river-portable-power-stations .section-left-text.pr.mtp {
    margin-top: 139px;
}
.section-left-right.ch.section-container .half.half-text.half-text-right.custom_mobile_hidden .title-1{
    font-size: 20px;
    font-weight: bold;
    color: #1D1D1D;
}

 .section-left-right.ch.section-container .half.half-text.half-text-right.custom_mobile_hidden .des{
    font-size: 16px;
    font-weight: 500;
    color: #444;
    line-height: 19px;
    margin-top: 22px;
}


 .section-left-right.ch.section-container .half.half-text .text.tc{
    text-align: left;
    width: 50%;
}

.portable-power-stations .three .half-text.half-text-right .des {
    height: unset;
    margin-bottom: 40px;
}

.section-left-right.ch.section-container .half.half-text .text.tc {
    text-align: left;
    width: 67%;
}
.portable-power-stations .title-s h2{
    font-size: 50px  !important;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 55px;
    margin-bottom: 52px;
    margin-top: 125px;
    margin-left: 18.5%;
}
}
@media (min-width: 768px) and (max-width: 1100px){
.portable-power-stations .ch .half-img-left {
    width: 75%;
    left: 12%;
    margin-left: 12%;
}
.portable-power-stations .title-s h2{
    font-size: 48px  !important;
    font-weight: 700;
    color: #1d1d1d;
    line-height: 59px;
    margin-bottom: 52px;
    margin-top: 110px;
    margin-left: 11.5%;
}
.river-portable-power-stations .section-left-text.pr {
    margin-bottom: 111px;
}
}

@media (min-width: 768px) and (max-width: 1000px){
.section-left-right.ch.section-container .half.half-text.half-text-right.custom_mobile_hidden .title-1{
    font-size: 18px;
    font-weight: bold;
    color: #1D1D1D;
}

 .section-left-right.ch.section-container .half.half-text.half-text-right.custom_mobile_hidden .des{
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 16px;
    margin-top: 16px;
}


 .section-left-right.ch.section-container .half.half-text .text.tc{
    text-align: left;
    width: 50%;
}

.portable-power-stations .three .half-text.half-text-right .des {
    height: unset;
    margin-bottom: 30px;
}

.section-left-right.ch.section-container .half.half-text .text.tc {
    text-align: left;
    width: 80%;
}
}

@media (min-width: 768px) and (max-width: 800px){
.portable-power-stations .ch .half-img-left {
    width: 80%;
    left: 10%;
    margin-left: 10%;
}
}

.portable-power-stations .mbotm{
    padding-bottom: 16px;
}
@media all{
.section-6 .show-me{display:none;}
.section-6 .items-title{font-size:18px;font-weight:700;font-stretch:normal;letter-spacing:0px;color:#6e6e73;line-height:27px;text-align:center;margin-top:40px;margin-bottom:30px;}
.section-6 .items-title2{
    font-size: 25px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 23px;
    letter-spacing: 0px;
    color: #1d1d1d;
    text-align: center;
    margin: 40px auto 38px;
}
.section-6 .item-container{width:72%;max-width:1095px;margin-left:auto;margin-right:auto;overflow: hidden;}
.items-img {
    width: calc(33% - 0.867em);
    float: left;
    max-width: 345px;
    background-color: #f3f3f3;
    border-radius: 32px;
    margin-right: 0em;
        text-align: center;
}
  .items-img.huise {
    width: calc(33% - 0.867em);
    float: left;
    max-width: 345px;
    background-color: #e8e8e8;
    border-radius: 32px;
    margin-right: 1.3em;
    margin-left: 1.3em;
}
.items-img:last-child{margin-right:0;}
.item-content{width:calc(100% - 80px);font-size:18px;font-weight:700;font-stretch:normal;line-height:27px;letter-spacing:0px;color:#6e6e73;padding-top:14px!important;margin:14px auto!important;text-align:center;border-top:solid 2px #707070;opacity:.5;}
.items-img img{width:60%!important;margin:0 auto;}
@media (min-width: 768px) and (max-width: 1000px){
.section-6 .item-container{width:95%;margin-left:auto;margin-right:auto;margin-top:6.5em;}
.section-6 .items-title2{font-size:22px;font-weight:700;font-stretch:normal;line-height:23px;letter-spacing:0px;color:#1d1d1d;text-align:center;margin:unset;margin-top:.9em;margin-bottom:.9em;}
.item-content{font-size:17px;}
}
}
.section-6 .title-container button {
    width: 211px;
    height: 49px;
    border-radius: 25px;
    border: solid 2px #fff;
    margin-left: auto;
    margin-left: calc(50% - 105px);
    margin-top: 53px;
    background: #1d1d1d;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.portable-power-stations .section-6{
    background: #1d1d1d;
    overflow: hidden;
    padding-bottom: 200px;
    padding-top: 16px;
    color: #fff;
}

.portable-power-stations .section-6 .font-gotham-bold {
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF !important;
}

.items-img img {

    margin-top: 60px;
}

@media (min-width: 768px) and (max-width: 1200px){
  .banner-new.pr img {
    margin-top: 215px;
}
portable-power-stations .new-section-2 .text .des {
    font-size: 38px!important;
    font-weight: 700;
}
.new-section-2{
    margin-bottom: 120px;
}
.portable-power-stations .section-71.pr {
    background: #0b0b0b;
    margin-top: 100px;
}
.section-6 .show-me .items-title {
    font-size: 26px;

}
.portable-power-stations .section-6 .items-title2 {
    font-weight: 700;
    font-size: 24px;
    margin: 0px auto 30px;

}
  .items-img img {
    width: 60%!important;
    margin: 26px auto;
}
.portable-power-stations .product-parameters .show-me {
    margin: 95px auto 0;
}
.portable-power-stations .section-6.section-6-2 {
    padding-top: 159px;
}
.portable-power-stations .section-6 .mtops {

    font-size: 17px;

}
.portable-power-stations .section-6 .mtophr {
    margin-bottom: 15px;
}
.section-6 .connected {
    margin-bottom: 110px;
}
.portable-power-stations .section-6{
    margin-bottom: 0px;
    padding-bottom: 120px;
}
.portable-power-stations .mbotm {
    padding-bottom: 10px;
}
}

.portable-power-stations .section-6{
    margin-bottom: 0px;

}

@media screen and (min-width:1200px){
.new-section-2{
    margin-bottom: 0px;
}
.river-portable-power-stations .section-left-text.pr.mtp {
    margin-top: 90px;
}
.portable-power-stations .section-71.pr {
    background: #0b0b0b;
    margin-top: 163px;
}
}

@media screen and (min-width: 1300px){
.mtp .half-text.half-text-left .title-h2 {

    width: unset;
    margin-left: -80px;
}
.half-text-right-t .title-h2 {
    width: 622px !important;
}
}
@media screen and (min-width: 1380px){
  .custom .des.soml2{
/*     font-size: 28px;
    line-height: 44px; */
  }
.section-71 .bold.title-h2{
    font-size: 36px !important;
    line-height: 1.1em;
}
}

@media all{

.section-75 .title-h3{color:#fff!important;opacity:1;font-size:36px !important;line-height:44px;}
@media screen and (max-width:1280px){
.section-75 .title-h3{font-size:30px !important;line-height: 38px;}
}
@media screen and (max-width:1023px){
.section-75 .title-h3{font-size:24px !important;}
}
  @media screen and (max-width:923px){
     .section-75 .show-content .content-slide.active-slide {
          padding: 23px 0 10px;
      }
  }
}
@media screen and (max-width:767px){
.custom_mobile.white.section-container .title-1 h2{
    font-size: 23px!important;
    line-height: 28px;
    font-weight: 700;
}
.river-portable-power-stations .whites .title-1.title-bold h2{
  font-size: 23px!important;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: unset;
    padding-top: 12px;
    line-height: 28px;
    color: #fff!important;
}

.banner-new.pr img {
    margin-top: 0px;
    padding-top: 111px;
}
.portable-power-stations .banner-new .text .title-h1 {
    font-size: 36px;
    line-height: 38px;
    color: #fff!important;
    text-align: center;
}
.portable-power-stations .banner-new .text {
    top: 57px;
    transform: unset;
    left: auto;
    /* top: 132px!important; */
    width: 100%;
}
.portable-power-stations .banner-new .text .title-h1 {
    font-size: 36px;
    line-height: 38px;
}
}

.items-img img {
    width: 60%!important;
    margin: 0 auto;
    margin-bottom: 50px;
}
.section-6.section-6-2 .item-container {
    width: 57.2%;
    max-width: 1105px;
    margin-left: auto;
    margin-right: auto;
}
.section-6-2 .items-img.huise {
    width: calc(50% - 15px);
    float: left;
    max-width: unset;
    background-color: #e8e8e8;
    border-radius: 32px;
    margin-right: 0em;
    margin-left: 30px;
}
.section-6-2 .items-img {
    width: calc(50% - 15px);
    float: left;
    max-width: unset;
    padding-bottom: 20px;
}
.items-img img {
    width: 60%!important;
    margin: 50px auto 50px;
}
.portable-power-stations .section-6 .font-gotham-bold {

    font-size: 36px !important;
    color: #fff!important;
}
.portable-power-stations .section-6.section-6-2 {
    padding-top: 319px;

}
.des-f-t{
    font-size: 18px;
    font-weight: normal;
    color: white;
    line-height: 23px;
    text-align: center;
    margin-top: 33px;
    margin-bottom: 17px;
}
.portable-power-stations .product-parameters .show-me {
    margin: 151px auto 0;

}
.section-6.section-6-2 .item-container.mt48{
    margin-top: 48px !important;
    clear: both;
}
.section-6.section-6-4{
  margin-top: -1px;
}
.m-b-27{
  margin-bottom: 27px;
}
.i-4 .items-img {
    width: calc(25% - 0.975em);

}
.i-4 .items-img.huise {
    width: calc(25% - 0.975em);
    margin-right: 0em;
    margin-left: 1.3em;
}
.section-6 .item-container.i-4{
    width: 77% !important;
    max-width: 1495px;
}
.section-6 .connected {
    margin-bottom: 123px;
}
.section-6 .show-me .items-title {
    margin-top: 105px;
}
.section-6 .items-img .m60{
    margin: 60px auto;
}
.section-6 .items-img .m65{
    margin: 65px auto;
}
.c-l .item-content {
  width: calc(100% - 36px);
}
.section-6.section-6-2 .item-content{
    max-width: 282px;
}
.river-portable-power-stations .s-c .half-text {
    width: 50%;
    position: absolute;
    top: calc(50% + 40px);
    left: 54%;

}
.s-c-img{
    clear: both;
    margin-left: 19%;
    width: 69%;
}
.section-left-right.three.s-c{
    margin-bottom: 81px;
}
.section-10 h2{
    font-size: 36px !important;
    font-weight: bold;
    color: #000000;
    line-height: 44px;
    margin-top: 204px;
    margin-left: 20px;
    margin-bottom: 82px;
    text-align: center;
    margin-right: 20px;
}
.section-10{
    clear: both;
    width: 100%;
    padding: 0 100px 120px;
}
.section-10 .title-c .des{
    font-size: 18px;
    font-weight: 500;
    color: #444;
    line-height: 28px;
    margin-bottom: 87px;
}
.section-10 .i-c-l{
    font-size: 25px;
    font-weight: 500;
    color: #1D1D1D;
    line-height: 94px;
    border-bottom: 2px solid #707070;
    padding: 64px 40px;
}
.section-10 .title-c + .i-c-l {
    border-top: 2px solid #707070;
}
.section-10 .a-c{
    display: none;
}
 .section-10 .i-c-l div{
    line-height: unset;
}
.section-10 .i-c-l .q-c{
    font-size: 38px;
    line-height: 1.3em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    cursor: pointer;
}
.section-10 .i-c-l:not(.active) .q-c .plus{
    display: block;
}
.section-10 .i-c-l.active .q-c .plus{
    display: none;
}
.section-10 .i-c-l:not(.active) .q-c .minus{
    display: none;
}
.section-10 .i-c-l.active .q-c .minus{
    display: block;
}
.section-10 .i-c-l svg{
    position: absolute;
    top: 43px;
    right: 5px;
}

.section-10 .i-c-l svg:nth-child(2){
  display: none;
}
.section-10 .i-c-l.active svg:nth-child(1){
  display: none;
}
.section-10 .i-c-l.active svg:nth-child(2){
  display: block;
}
.section-10 .active .a-c{
    display: block;
    margin-bottom: 25px;
    line-height: 1.2em;
    font-size: 20px;
    padding-top: 30px;
}

@media screen and (max-width: 1023px) {
    .section-10 .i-c-l {
        padding: 30px 20px;
    }
    .section-10 .i-c-l .q-c {
        font-size: 22px;
        padding: 0 !important;
    }
    .section-10 .active .a-c {
        margin-bottom: 0;
        font-size: 18px;
    }
}
@media screen and (min-width:767px){
.portable-power-stations .new-section-2 {
    width: 100%;
    background-color: unset;
    padding-top: 40px;
}
.portable-power-stations .new-section-2 .text .des {
    font-size: 18px!important;
    line-height: 28px !important;
    max-width: 883px;
    color: #444;
}
.portable-power-stations .new-section-2 .text {

    padding-top: 13px;
}
.portable-power-stations .new-section-2 .text .des:nth-child(2){
    margin-top: 35px;
}
}
@media screen and (max-width:1600px){
.portable-power-stations .banner-new .text .title-h1{font-size:80px;line-height: 88px;}
.portable-power-stations .new-section-2 .text{max-width:1280px;}
}

@media (min-width: 768px) and (max-width: 1200px){
   .portable-power-stations .banner-new .text .title-h1 {
    font-size: 40px;
    line-height: 48px;
}
.portable-power-stations .banner-new .text {
    transform: unset;
    left: 9vw;
    top: 9vw !important;
    width: 100%;
}
.banner-new.pr img {
    margin-top: 0px;
}
  .section-6 .items-img .m65 {
    margin: 60px auto;
}
.portable-power-stations .section-6.section-6-2 {
    padding-top: 165px;
}
.portable-power-stations .product-parameters .show-me {
    margin: 101px auto 0;
}
.portable-power-stations .section-6 .font-gotham-bold {
    font-size: 32px!important;
    color: #fff!important;
}
.portable-power-stations .section-6 .items-title2 {
    font-size: 22px;
    margin: 0 auto 30px;
    line-height: 27px !important;
}
.section-6.section-6-2 .item-container {
    width: 68.2%;

}
.section-6 .item-container.i-4 {
    width: 96%!important;
    max-width: 1495px;
}
.i-4 .items-img {
    width: calc(25% - 0.6em);
}
.i-4 .items-img.huise {
    width: calc(25% - 0.6em);
    margin-right: 0;
    margin-left: 0.8em;
}
}
@media (min-width: 768px) and (max-width: 1400px){
.river-portable-power-stations .s-c .half-text {
    top: 50%;
    right: 0%;
}
.portable-power-stations .ch.s-c .half-img-left {
    width: 37%;
    left: 16%;
    margin-left: 10%;
}
.portable-power-stations .title-s.s-c-t h2 {

    margin-left: 9.5%;
}
.s-c-img{
    clear: both;
    margin-left: 10%;
    width: 77%;
}
.section-10 {
    max-width: 1730px;
    margin-left: auto;
    margin-right: auto;
}
.section-10 .title-c .des {

    margin-bottom: 60px;
}
.section-10 h2 {
    margin-top: 124px;
    margin-bottom: 72px;
}
.section-10 .i-c-l {
    padding: 44px 40px;
}
.section-10 .i-c-l:last-of-type {
    margin-bottom: 72px;
}
.section-10 .i-c-l .q-c {
    position: relative;
    line-height: 40px;
    padding: 0;
    font-size: 28px;
}
.section-10 .active .a-c {
    margin-bottom: 0;
    padding-top: 20px;
}
}
@media screen and (max-width: 1280px) {
    .section-10 {
        padding: 40px 50px;
    }
}
@media screen and (max-width:767px){

.portable-power-stations .banner-new .text .title-h1 {
    font-size: 36px;
    line-height: 38px;
}
.portable-power-stations .banner-new .text {

    top: 42px!important;

}
.portable-power-stations .new-section-2 .text .des {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    padding: 25px 25px 5px 25px;
    line-height: 28px;
}
.portable-power-stations .new-section-2 .text {

    padding-bottom: 93px;
    padding-top: 63px;
}
.section-71 .des.soml2 {

    margin-top: 74px;
}
.section-71 .bold.title-h2 {

    margin-top: 0px;
    padding-top: 0px;

}
.river-portable-power-stations .section-71.pr {
    margin-top: 88px;
}
.section-71 .bold.title-h2 {
    font-size: 23px!important;
    line-height: 28px;
}
.custom .section-71 .des.soml2 {
    font-size: 28px;
    line-height: 55px;
    margin-bottom: 47px;
}
.section-left-right.three.s-c {
    margin-bottom: 0px;
}
.river-portable-power-stations .title-1.title-bold {
    margin-bottom: 50px;
}
.custom_mobile.section-container.last-c .title-1.mb4 {

    margin-bottom: 4px;
}
.custom_mobile.section-container.last-c .des {

    margin-bottom: 66px;
    margin-top: 0;
}
.section-10 {
    padding: 41px 24px;
}
.section-10 h2 {
    font-size: 23px!important;
    font-weight: 700;
    color: #000;
    line-height: 28px;
    margin-top: 0;
    margin-left: 0px;
    margin-bottom: 52px;
}
.section-10 .title-c .des {
    font-size: 12px;
    font-weight: 500;
    color: #444;
    line-height: 28px;
    margin-bottom: 41px;
}
.section-10 .i-c-l .q-c {
    position: relative;
    line-height: 20px;
}
.section-10 .i-c-l svg {
    position: absolute;
    top: 20px;
    right: 3px;
}
.section-10 .i-c-l {
    font-size: 16px;
    font-weight: 500;
    color: #1d1d1d;
    color: #1D1D1D;
    line-height: 20px;
    border-bottom: 2px solid #707070;
}
.section-10 .i-c-l:last-of-type {
    margin-bottom: 52px;
}
}