{{ 'jquery.min.js' | asset_url | script_tag }}
{% include 'atb' zone:'Top' %}
{{ 'custom.css' | asset_url | stylesheet_tag }}
{{ 'custom-portable-power-station.css' | asset_url | stylesheet_tag }}
{{ 'custom-solar-panel.css' | asset_url | stylesheet_tag }}
<style>
@font-face {
  font-family: 'Gotham-Book';
  src: url('https://cdn.shopify.com/s/files/1/0412/3459/6001/files/Gotham-Book.otf?v=1650857904');

  font-weight: normal;
  font-style: normal;
}
</style>
<div class="custom portable-power-stations river-portable-power-stations">
   <div class="banner-new pr">
      <div class="text pa">
        <h1 class="title-h1 color-white font-gotham-bold">
            <span class="display: block;">Paneles</span>
            <span>Solares </span>
            <br class="custom_mobile_hidden">
            <span>Portátiles</span>
        </h1>
        <div class="banner--btn">
          <a class="banner-button color-teal left" href="#solar" style=""><p class="font-gotham color-teal">Seguir Leyendo </p><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8.98242 5C8.98242 4.58579 8.64664 4.25 8.23242 4.25C7.81821 4.25 7.48242 4.58579 7.48242 5V10.0156L5.53033 8.06349C5.23744 7.77059 4.76256 7.77059 4.46967 8.06349C4.17678 8.35638 4.17678 8.83125 4.46967 9.12415L7.70185 12.3563C7.99475 12.6492 8.46962 12.6492 8.76251 12.3563L11.9947 9.12415C12.2876 8.83125 12.2876 8.35638 11.9947 8.06349C11.7018 7.77059 11.2269 7.77059 10.934 8.06349L8.98242 10.0151V5Z" fill="#0ECFE2"></path>
            </svg>
          </a>
        </div>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1_b7336d92-d7f9-40cd-b3c3-9d10ab9a1a7f.jpg?v=1650938634" alt="Portable Power Stations" class="overlay-img  custom_mobile_hidden banner-product-img">
      <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1.png?v=1650940727" alt="Portable Power Stations" class="overlay-img  custom_mobile_show banner-product-img">
  </div>
  <div id="solar" class="new-section-2">
    <div class="text">
      <p class="des">Ya vaya a acampar con sus amigos, viajar en su autocaravana o simplemente a relajarse cómodamente en su sala de estar o jardín, EcoFlow tiene paneles solares portátiles resistentes a la intemperie que satisfacen todas sus necesidades.</p>
      <p class="des">Los paneles solares EcoFlow están fabricados con silicio monocristalino, un material ligero y resistente que proporciona la máxima capacidad de absorción de rayos solares. Simplemente conecte su panel solar a su estación de energía EcoFlow y encienda todos sus dispositivos dondequiera que esté.</p>
    </div>
  </div>



  <div class="section-left-text pr section-container custom_mobile_hidden">

    <div class="half half-img half-img-left">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/1996/9707/files/Solar_Panels_Collection_Page_Desktop_21.png?v=1645689569" alt="">

    </div>
    <div class="half half-text half-text-right-t">
      <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 110W</h2>
      <div class="text">
        <p class="des">Los paneles solares EcoFlow 110W están cubiertos con una capa protectora para resistir a la intemperie. Son flexibles y se pliegan fácilmente para facilitar su transporte y almacenamiento. Equipados con un conector solar universal, se conectan a la mayoría de las estaciones de energía portátiles y comienzan a cargarse de inmediato.</p>
      </div>
       <a class="a-button font-gotham" href="https://es.ecoflow.com/products/110w-solar-panel" style="">Comprar Ahora</a>

    </div>


  </div>
  <div class="section-left-text pr mtp section-container custom_mobile_hidden">
    <div class="half half-text half-text-left">
      <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 160W</h2>
      <div class="text">
        <p class="des">Con su diseño portátil y peso ligero, los paneles solares EcoFlow de 160 W son ideales para acampar y realizar actividades al aire libre. Conecte uno o más paneles solares a una estación de energía EcoFlow DELTA o RIVER y alimente sus dispositivos de forma independiente.</p>
      </div>
      <a class="a-button font-gotham" href="https://es.ecoflow.com/products/160w-solar-panel" style="">Comprar Ahora</a>

    </div>
	<div class="half half-img half-img-right">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/1996/9707/files/Solar_Panels_Collection_Page_Desktop_22.jpg?v=1645689569" alt="">

    </div>

  </div>
  <div class="section-left-text pr section-container custom_mobile_hidden">

    <div class="half half-img half-img-left">
      <img class="custom_mobile_hidden" src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/220W.jpg?v=1650956961" alt="">

    </div>
    <div class="half half-text half-text-right-t">
      <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 220W</h2>
      <div class="text">
        <p class="des">Capture hasta un 25% más de energía con este panel de doble cara. Compacto y extremadamente robusto, es el panel solar de camping ideal para combinar con su estación eléctrica portátil.</p>
      </div>
       <a class="a-button font-gotham" href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">Comprar Ahora</a>

    </div>


  </div>
  <div class="section-left-text pr mtp section-container custom_mobile_hidden">
    <div class="half half-text half-text-left">
      <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 400W</h2>
      <div class="text">
        <p class="des">Encontrándose entre los únicos paneles solares portátiles de 400 W del mercado, combinan las mejores características de nuestros paneles solares con aún más potencia. Combine hasta 4 de estos paneles solares para uso doméstico y recargue su DELTA Pro en menos de 6 horas.</p>
      </div>
      <a class="a-button font-gotham" href="https://es.ecoflow.com/products/400w-solar-panel" style="">Comprar Ahora</a>

    </div>
	<div class="half half-img half-img-right">
      <img class="custom_mobile_hidden" src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/400W.jpg?v=1650956961" alt="">

    </div>

  </div>

  <div class="section-left-text  section-container custom_mobile_show">
    <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 110W</h2>
    <div class="half-immobile">
      <img class="custom_mobile_show" src="https://cdn.shopify.com/s/files/1/1996/9707/files/iPhone_12_Pro_Max_2.png?v=1645688155" alt="">

    </div>
    <div class="">

      <div class="text">
        <p class="des">Los paneles solares EcoFlow 110W están cubiertos con una capa protectora para resistir a la intemperie. Son flexibles y se pliegan fácilmente para facilitar su transporte y almacenamiento. Equipados con un conector solar universal, se conectan a la mayoría de las estaciones de energía portátiles y comienzan a cargarse de inmediato.</p>
      </div>
       <a class="a-button font-gotham" href="https://es.ecoflow.com/products/110w-solar-panel" style="">Comprar Ahora</a>

    </div>


  </div>
  <div class="section-left-text  mtp section-container custom_mobile_show">
    <div class="">
      <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 160W</h2>
      <div class="half-immobile">
      <img class="custom_mobile_show" src="https://cdn.shopify.com/s/files/1/1996/9707/files/iPhone_12_Pro_Max_3.png?v=1645688155" alt="">

      </div>
      <div class="text">
        <p class="des">Con su diseño portátil y peso ligero, los paneles solares EcoFlow de 160 W son ideales para acampar y realizar actividades al aire libre. Conecte uno o más paneles solares a una estación de energía EcoFlow DELTA o RIVER y alimente sus dispositivos de forma independiente.</p>
      </div>
      <a class="a-button font-gotham" href="https://es.ecoflow.com/products/160w-solar-panel" style="">Comprar Ahora</a>

    </div>


  </div>
  <div class="section-left-text  section-container custom_mobile_show">
    <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 220W</h2>
    <div class="half-immobile">
      <img class="custom_mobile_show" src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/119.jpg?v=1650959510" alt="">

    </div>
    <div class="">

      <div class="text">
        <p class="des">Capture hasta un 25% más de energía con este panel de doble cara. Compacto y extremadamente robusto, es el panel solar de camping ideal para combinar con su estación eléctrica portátil.</p>
      </div>
       <a class="a-button font-gotham" href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">Comprar Ahora</a>

    </div>


  </div>
  <div class="section-left-text  mtp section-container custom_mobile_show">
    <div class="">
      <h2 class="title-h2">PANEL SOLAR<br>ECOFLOW 400W</h2>
      <div class="half-immobile">
      <img class="custom_mobile_show" src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/400W_5a4e8760-377d-4d78-977a-62392fd8ebc4.jpg?v=1650959510" alt="">

      </div>
      <div class="text">
        <p class="des">Encontrándose entre los únicos paneles solares portátiles de 400 W del mercado, combinan las mejores características de nuestros paneles solares con aún más potencia. Combine hasta 4 de estos paneles solares para uso doméstico y recargue su DELTA Pro en menos de 6 horas.</p>
      </div>
      <a class="a-button font-gotham" href="https://es.ecoflow.com/products/400w-solar-panel" style="">Comprar Ahora</a>

    </div>


  </div>
  <div class="section-71 pr">

     <div class="text tc">
        <h2 class="bold title-h2 custom_mobile_hidden">Ventajas de los Paneles solares</h2>
        <h2 class="bold title-h2 custom_mobile_show">VENTAJAS DE LOS<BR>PANELES SOLARES</h2>
<!--         <p class="des soml">EcoFlow's solar panels have been expertly designed to provide an efficient, reliable, and eco-conscious way to charge portable power stations.</p> -->
       <p class="des soml2">
       <span class="color-white">Energía renovable </span><br>Económicos<br><span class="color-white">Bajas emisiones</span><br>Bajo mantenimiento<br><span class="color-white">Ligeros</span><br>Impermeables</p>
      </div>
      <img class="custom_mobile_show" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/Photo_Nov_16_11_24_19_AM_1.png?v=1672239188">
  </div>


  <div class="custom_mobile white section-container custom_mobile_show">
    <div class="">
      <div class="text">
        <div class="title-1 title-bold"><h2>¿Cómo<br>funcionan los paneles solares?</h2></div>
      </div>
      <div class="text">
        <p class="title-1">ABSORCIÓN</p>
        <p class="des">Los paneles solares absorben y recogen la energía de los rayos del sol en sus células.</p>
      </div>
      <div class="text">
        <p class="title-1">ALIMENTACIÓN</p>
        <p class="des">Pueden conectarse a una estación de energía portátil para alimentarla. La energía almacenada se redistribuye sucesivamente a sus dispositivos.</p>
      </div>
      <div class="text">
        <p class="title-1">ALMACENAJE</p>
        <p class="des">La energía se puede almacenar en esta misma estación de energía portátil durante el tiempo que se desee.</p>
      </div>
    </div>
	<div class="">
      <img class="" src="https://cdn.shopify.com/s/files/1/1996/9707/files/iPhone_12_Pro_Max_5.jpg?v=1645688155" alt="">
    </div>

  </div>

  <div class="custom_mobile whites section-container custom_mobile_show">
    <div class="">
      <div class="text">
        <div class="title-1 title-bold"><h2>¿De qué están hechos<br>los paneles solares EcoFlow?</h2></div>
      </div>
      <div class="text">
<!--         <p class="title-1">Premium Solar Panels</p> -->
        <p class="des">Los paneles solares EcoFlow están hechos de células de silicio monocristalino negro, que proporcionan un mayor rendimiento que otros materiales.
        Los paneles solares se despliegan para aumentar la superficie expuesta y maximizar la recolección de energía, incluso en días nublados con poco sol.
        </p>
      </div>
<!--       <div class="text">
        <p class="title-1">Ready for the Outdoors </p>
        <p class="des">A seamless construction offers an IP67 waterproof rating for rain or shine, making it ideal for outdoor adventurers. It has extra durability with a layer of ETFE film to protect it against UV rays. </p>
      </div>
      <div class="text">
        <p class="title-1">Foldable, Flexible, and Light </p>
        <p class="des">A foldable design is key to the perfect portable solar panel kit. These pack up small for stowing in a trunk, motorhome, or closet. Simply set them in a sunny place, plug them into a battery, and stay powered anywhere. Their lightweight design makes them easy to carry, and the case doubles as a stand. </p>
      </div> -->
    </div>
	<div class="">
      <img class="" src="https://cdn.shopify.com/s/files/1/1996/9707/files/iPhone_12_Pro_Max_6.jpg?v=1645688155" alt="">
    </div>

  </div>
  <div class="title-s custom_mobile_hidden">
    <h2>¿Cómo<br>funcionan los paneles solares?</h2>
    </div>
  <div class="section-left-right three ch section-container">


    <div class="half half-img half-img-left">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/desktop_1.png?v=1672238850" alt="">
    </div>
	<div class="half half-text half-text-right custom_mobile_hidden">
      <div class="text tc">

        <p class="title-1">ABSORCIÓN </p>
        <p class="des">Los paneles solares absorben y recogen la energía de los rayos del sol en sus células. </p>
        <p class="title-1">ALIMENTACIÓN </p>
        <p class="des">Pueden conectarse a una estación de energía portátil para alimentarla. La energía almacenada se redistribuye sucesivamente a sus dispositivos.</p>
        <p class="title-1">ALMACENAJE</p>
        <p class="des">La energía se puede almacenar en esta misma estación de energía portátil durante el tiempo que se desee.</p>


      </div>
    </div>
  </div>



  <div class="section-75 pr custom_mobile_hidden">
    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/51.jpg?v=1645705501" class="overlay-img custom_mobile_hidden">
    <div class="half-mask pa">
      <div class="pr">
        <div class="text pa">
          <h2 class="title-h3 font-gotham-bold color-white">¿De qué están hechos<br>los paneles solares EcoFlow?</h2>
          <div class="show-content">
            <div class="content-slide active-slide">
<!--               <h6 class="title-h6 font-gotham-bold color-white">PREMIUM SOLAR PANELS</h6> -->
              <p class="des font-gotham color-white">Los paneles solares EcoFlow están hechos de células de silicio monocristalino negro, que proporcionan un mayor rendimiento que otros materiales.
              Los paneles solares se despliegan para aumentar la superficie expuesta y maximizar la recolección de energía, incluso en días nublados con poco sol.
              </p>
            </div>
<!--             <div class="content-slide">
              <h6 class="title-h6 font-gotham-bold color-white">READY FOR THE OUTDOORS</h6>
              <p class="des font-gotham color-white" style="display:none;">A seamless construction offers an IP67 waterproof rating for rain or shine, making it ideal for outdoor adventurers. It has extra durability with a layer of ETFE film to protect it against UV rays.</p>
            </div>
            <div class="content-slide">
              <h6 class="title-h6 font-gotham-bold color-white">FOLDABLE, FLEXIBLE, AND LIGHT</h6>
              <p class="des font-gotham color-white" style="display:none;">A foldable design is key to the perfect portable solar panel kit. These pack up small for stowing in a trunk, motorhome, or closet. Simply set them in a sunny place, plug them into a battery, and stay powered anywhere. Their lightweight design makes them easy to carry, and the case doubles as a stand.</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-6 section-6-2 custom_mobile_hidden">
    <div class="title-container product-parameters">
       <h2 class="title-h2 font-gotham-bold tc">Descubra el panel solar más adecuado para usted</h2>
      <div class="des-f-t">Compare nuestros paneles solares para encontrar el que mejor se adapte a sus necesidades.</div>
      <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i>MÁS INFORMACIÓN</button>

      <div class="show-me">
      <div class="item-container">
<!--         <div class="items-title">Panel solar EcoFlow de 110 W</div> -->

        <div class="items-img">
          <a href="https://es.ecoflow.com/products/160w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/40_33093ddf-f1c2-4919-9490-39c60705a9a6.png?v=1651028070" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img m65">
          </a>
          <p class="items-title2">Panel solar EcoFlow de 160 W</p>
          <p class="item-content">Dimensiones (sin plegar)<br>68 x 157 x 2,4 cm</p>
          <p class="item-content">Dimensiones (plegado)<br>68 x 42 x 2,4 cm</p>
          <p class="item-content">Peso<br>7 kg</p>
          <p class="item-content">Potencia nominal<br>160 W</p>
          <p class="item-content">Tipo de conector<br>MC4</p>
          <p class="item-content">Tipo de celda<br>Silicio monocristalino</p>
        </div>
        <div class="items-img huise">
          <a href="https://es.ecoflow.com/products/110w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/93.png?v=1651028070" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">Panel solar EcoFlow de 110 W</p>
          <p class="item-content">Dimensiones (sin plegar)<br>51,4 x 158 x 2,4 cm</p>
          <p class="item-content">Dimensiones (plegado)<br>51,4 x 42 x 2,4 cm</p>
          <p class="item-content">Peso<br>6 kg</p>
          <p class="item-content">Potencia nominal<br>110 W</p>
          <p class="item-content">Tipo de conector<br>MC4</p>
          <p class="item-content">Tipo de celda<br>Silicio monocristalino</p>
        </div>



      </div>
        <div style="clear: both;"></div>
      <div class="item-container mt48">


        <div class="items-img">
          <a href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/100.png?v=1651028070" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">Panel solar EcoFlow de 220 W</p>
          <p class="item-content">Dimensiones (sin plegar)<br>82 x 183 x 2,5 cm</p>
          <p class="item-content">Dimensiones (plegado)<br>82 x 183 x 2,5 cm</p>
          <p class="item-content">Peso<br>14 kg</p>
          <p class="item-content">Potencia nominal<br>220 W en la parte delantera/155 W en la parte posterior</p>
          <p class="item-content">Tipo de conector<br>MC4</p>
          <p class="item-content">Tipo de celda<br>Silicio monocristalino</p>
        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/400w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/101.png?v=1651028070" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">Panel solar EcoFlow de 400 W</p>
          <p class="item-content">Dimensiones (sin plegar)<br>105,8 x 236,5 x 2,4 cm</p>
          <p class="item-content">Dimensiones (plegado)<br>105,8 x 236,5 x 2,4 cm</p>
          <p class="item-content">Peso<br>19 kg</p>
          <p class="item-content">Potencia nominal<br>400 W</p>
          <p class="item-content">Tipo de conector<br>MC4</p>
          <p class="item-content">Tipo de celda<br>Silicio monocristalino</p>
        </div>


      </div>
      </div>
     </div>
  </div>
  <div class="section-6 section-6-4 custom_mobile_hidden">
    <div class="title-container product-parameters">
       <h2 class="title-h2 font-gotham-bold tc">Uso de paneles solares con un generador solar EcoFlow</h2>
      <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i>MÁS INFORMACIÓN</button>

      <div class="show-me">
      <div class="item-container">
        <div class="items-title">Panel solar EcoFlow de 110 W</div>

        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/110w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/17.png?v=1645778645" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">2 PANEL</p>
          <p class="item-content">5-10 h<br>DELTA mini</p>
          <p class="item-content">7-14 h<br>DELTA</p>
          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA Max (1600)</span> </p>
        <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA Max (2000)</span> </p>
          <div class="m-b-27"></div>
        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/110w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/18.png?v=1645778645" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">3 PANELS</p>
          <p class="item-content">3,3-6,6 h<br>DELTA mini</p>
          <p class="item-content">5-10 h<br>DELTA</p>

          <p class="item-content">6-12 h<br>DELTA Max (1600)</p>
          <p class="item-content">7,5-15 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/110w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/32.png?v=1651031776" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">4 PANELS</p>
          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

          <p class="item-content">4-8 h*<br>DELTA</p>

          <p class="item-content">4,5-9 h<br>DELTA Max (1600)</p>

          <p class="item-content">5,6-11,2 h<br>DELTA Max (2000)</p>

        </div>


      </div>
      <div class="item-container i-4">
        <div class="items-title">Panel solar EcoFlow de 160 W</div>

        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/160w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/80.png?v=1645778645" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">1 PANEL</p>
          <p class="item-content">7,5-15 h<br>DELTA mini</p>
          <p class="item-content">10,5-21 h<br>DELTA</p>
          <p class="item-content">13,4-26,8 h<br>DELTA Max (1600)</p>
          <p class="item-content">17-34 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/160w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/17.png?v=1645778645" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">2 PANELS</p>
          <p class="item-content">3,7-7,4 h<br>DELTA mini</p>
          <p class="item-content">5-10 h<br>DELTA</p>
          <p class="item-content">6,7-13,4 h<br>DELTA Max (1600)</p>
          <p class="item-content">8,5-17 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/160w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/18.png?v=1645778645" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">3 PANELS</p>
           <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

          <p class="item-content">3,5-7 h<br>DELTA</p>

          <p class="item-content">4,5-9 h<br>DELTA Max (1600)</p>

          <p class="item-content">5,6-11,2 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/160w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/32.png?v=1651031776" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">4 PANELS</p>
           <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA</span></p>

          <p class="item-content">3,4-6,8 h<br>DELTA Max (1600)</p>

          <p class="item-content">4,2-8,4 h<br>DELTA Max (2000)</p>
        </div>

      </div>
<div style="clear: both;"></div>
      <div class="item-container i-4">
        <div class="items-title">Panel solar EcoFlow de 220 W</div>

        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/104_d875f246-b51c-41ba-aab6-d2c52cf554bd.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">1 PANEL</p>
          <p class="item-content">5-10 h<br>DELTA mini </p>
          <p class="item-content">7-14 h<br>DELTA</p>
          <p class="item-content">9-18 h<br>DELTA Max (1600)</p>
          <p class="item-content">11,5-23 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/36_c6b78156-ba8b-423a-a7ce-a8ac58a1c1b6.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">2 PANELS</p>
          <p class="item-content">3-6 h<br>DELTA mini</p>
          <p class="item-content">3,5-7 h<br>DELTA </p>
          <p class="item-content">4,5-9 h<br>DELTA Max (1600)</p>
          <p class="item-content">5,7-12 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/37_6ab763d9-3fb2-4682-8628-b8f7ee675763.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">3 PANELS</p>
           <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

           <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA</span></p>

          <p class="item-content">3-6 h<br>DELTA Max (1600)</p>

          <p class="item-content">3-6 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/38_511d9bc9-46d3-4564-b932-784abff0f70e.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">4 PANELS</p>
           <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA</span></p>

          <p class="item-content">2,3-4,6 h<br>DELTA Max (1600)</p>

          <p class="item-content">2,3-4,6 h<br>DELTA Max (2000)</p>
        </div>

      </div>
<div style="clear: both;"></div>
      <div class="item-container i-4">

        <div class="items-title">Panel solar EcoFlow de 400 W</div>

        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/400w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/110_f9a1109a-5e43-4607-b1da-c4f7ec2d6e64.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">1 PANEL</p>
          <p class="item-content">4-8 h<br>DELTA mini</p>
          <p class="item-content">5-10 h<br>DELTA</p>
          <p class="item-content">6,3-12,6 h<br>DELTA Max (1600)</p>
          <p class="item-content">12-24 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/400w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/43.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">2 PANELS</p>
          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>
          <p class="item-content">2,5-5 h<br>DELTA</p>
          <p class="item-content">3,2-6,3 h<br>DELTA Max (1600)</p>
          <p class="item-content">6-12 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/400w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/44.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">3 PANELS</p>
          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA</span></p>

          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA Max (1600)</span></p>

          <p class="item-content">4-8 h<br>DELTA Max (2000)</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/400w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/45_6a4e01d3-a291-4690-9e1f-aaf20036fc3b.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">4 PANELS</p>
           <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA mini</span></p>

          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA</span></p>

          <p class="item-content"><hr class="mtophr"><br><span class="mtops">DELTA Max (1600)</span></p>

          <p class="item-content">2,5-5,6 h<br>DELTA Max (2000)</p>
        </div>

      </div>
<div style="clear: both;"></div>
      <div class="item-container c-l">
        <div class="items-title">PANEL SOLAR ECOFLOW DE 110 W/160 W/220 W</div>

        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/110w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/40_33093ddf-f1c2-4919-9490-39c60705a9a6.png?v=1651028070" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img m60">
          </a>
          <p class="items-title2">1 PANEL DE 110 W</p>
          <p class="item-content">2,6-5,2 h<br>RIVER mini</p>
          <p class="item-content">3-6 h<br>RIVER</p>
          <p class="item-content">6-12 h<br>RIVER Max</p>
        <p class="item-content">9-18 h<br>RIVER Pro</p>
          <p class="item-content">18-36 h<br>RIVER Pro<br>+ batería adicional RIVER Pro Smart</p>

        </div>
        <div class="items-img huise mbotm">
          <a href="https://es.ecoflow.com/products/160w-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/80.png?v=1645778645" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">1 PANEL DE 160 W</p>
          <p class="item-content">2-4 h<br>RIVER mini</p>
          <p class="item-content">2,4-4,8 h<br>RIVER</p>
          <p class="item-content">4,8-9,6 h<br>RIVER Max</p>
        <p class="item-content">6-12 h<br>RIVER Pro</p>
          <p class="item-content">12-24 h<br>RIVER Pro<br>+ batería adicional RIVER Pro Smart</p>

        </div>
        <div class="items-img mbotm">
          <a href="https://es.ecoflow.com/products/220w-bifacial-solar-panel" style="">
          <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/104_d875f246-b51c-41ba-aab6-d2c52cf554bd.png?v=1651031872" alt="Portable Power Stations" class="overlay-img custom_mobile_hidden banner-product-img">
          </a>
          <p class="items-title2">1 PANEL DE 220 W</p>
          <p class="item-content"><hr class="mtophr"><br><span class="mtops">RIVER mini</span></p>

          <p class="item-content">1,6-3 h<br>RIVER</p>
          <p class="item-content">3-6 h<br>RIVER Max</p>
        <p class="item-content">4-8 h<br>RIVER Pro</p>
          <p class="item-content">8-16 h<br>RIVER Pro<br>+ batería adicional RIVER Pro Smart</p>

        </div>


      </div>
      </div>
     </div>
  </div>

   <div class="title-s custom_mobile_hidden s-c-t">
    <h2>¿Cómo escoger<br>buenos paneles solares portátiles?</h2>
    </div>
  <div class="section-left-right three ch section-container s-c">


    <div class="half half-img half-img-left">
      <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/1996/9707/files/9_feeb2e21-9a1c-47d3-a321-3ae046233035.jpg?v=1651041949" alt="">
    </div>
	<div class="half half-text half-text-right custom_mobile_hidden">
      <div class="text tc">

        <p class="title-1"style="  line-height: 25px;">Duraderos y resistentes a la intemperie</p>
        <p class="des">Los paneles solares portátiles EcoFlow están protegidos de la intemperie por una fina capa de ETFE robusto y resistente al agua. Esto los hace más duraderos independientemente del clima.</p>
        <p class="title-1">Mayor absorción de los rayos del sol</p>
        <p class="des">La caja de transporte de nuestros paneles solares individuales se transforma en un soporte para poder ajustar la posición del panel y aumentar así su rendimiento hasta un 22%.</p>
        <p class="title-1">Portátiles y ligeros</p>
        <p class="des">El panel solar autónomo EcoFlow, gracias a su bolsa de almacenamiento, es un compañero de viaje perfecto. Esto hace que sea fácil de guardar en su automóvil o caravana cuando no se está usando. Tan fácil de almacenar como de instalar, se adapta a las situaciones más inusuales.</p>
        <p class="title-1">Amplia compatibilidad</p>
        <p class="des">Los paneles solares EcoFlow utilizan un conector solar estándar. Por lo tanto, son compatibles con sus estaciones eléctricas EcoFlow, pero también con estaciones eléctricas de otras marcas.</p>


      </div>
    </div>

  </div>
   <div class="s-c-img"> <img class="custom_mobile_hidden" src="https://cdn.shopify.com/s/files/1/1996/9707/files/117.jpg?v=1651045306" alt=""></div>

   <div class="custom_mobile last-c white section-container custom_mobile_show">
    <div class="">
      <div class="text">
        <div class="title-1 title-bold"><h2>¿Cómo escoger<br>buenos paneles solares portátiles?</h2></div>
      </div>
      <div class="text">
        <p class="title-1 mb4">Duraderos y resistentes a la intemperie</p>
        <p class="des">Los paneles solares portátiles EcoFlow están protegidos de la intemperie por una fina capa de ETFE robusto y resistente al agua. Esto los hace más duraderos independientemente del clima.</p>
      </div>
      <div class="text">
        <p class="title-1 mb4">Mayor absorción de los rayos del sol</p>
        <p class="des">La caja de transporte de nuestros paneles solares individuales se transforma en un soporte para poder ajustar la posición del panel y aumentar así su rendimiento hasta un 22%.</p>
      </div>
      <div class="text">
        <p class="title-1 mb4">Portátiles y ligeros</p>
        <p class="des">El panel solar autónomo EcoFlow, gracias a su bolsa de almacenamiento, es un compañero de viaje perfecto. Esto hace que sea fácil de guardar en su automóvil o caravana cuando no se está usando. Tan fácil de almacenar como de instalar, se adapta a las situaciones más inusuales.
        </p>
      </div>
      <div class="text">
        <p class="title-1 mb4">Amplia compatibilidad</p>
        <p class="des">Los paneles solares EcoFlow utilizan un conector solar estándar. Por lo tanto, son compatibles con sus estaciones eléctricas EcoFlow, pero también con estaciones eléctricas de otras marcas.
        </p>
      </div>
    </div>
	<div class="">
      <img class="" src="https://cdn.shopify.com/s/files/1/1996/9707/files/118.jpg?v=1651046874" alt="">
    </div>

  </div>

<div class="section-10">
  <div class="title-c"><h2>Respondemos a Sus Preguntas</h2>
    {% comment %} <p class="des">¿TIENES DUDAS? AQUÍ ENCONTRARÁS LAS RESPUESTAS QUE BUSCAS</p> {% endcomment %}
  </div>

  <div class="i-c-l active">
    <div class="q-c font-gotham-bold">¿Se puede cargar el panel en interiores?
      <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
      <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
    </div>
    <div class="a-c">Sí, sí lo único que hay entre este y el sol es transparente. No obstante, no se cargará tan bien como en el exterior. Puede comparar la diferencia observando la sección de entrada de la pantalla LCD de su estación eléctrica.</div>
  </div>
  <div class="i-c-l">
    <div class="q-c font-gotham-bold">¿Cómo aprovechar al máximo mis paneles solares portátiles?
      <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
      <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
    </div>
    <div class="a-c">Aumente la eficiencia de su panel solar colocándolo directamente frente al sol sin obstáculos. Recuerde tener cuidado al manipular su panel solar, ya que las células dañadas proporcionan menos energía.</div>
  </div>
  <div class="i-c-l">
    <div class="q-c font-gotham-bold">¿Cuál es la eficiencia de conversión?
      <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
      <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
    </div>
    <div class="a-c">Los paneles solares EcoFlow tienen una eficiencia de conversión del 22,4%.</div>
  </div>
  <div class="i-c-l">
    <div class="q-c font-gotham-bold">¿Con qué dispositivos funcionan los paneles solares?
      <img class="plus" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/plus.png?v=1670234230" width="12" height="12">
      <img class="minus active" src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/minus.png?v=1670234230" width="12" height="12">
    </div>
    <div class="a-c">Los paneles solares funcionan con todos los generadores solares EcoFlow y cualquier generador solar que acepte conexiones solares.</div>
  </div>
</div>



<script>

$('.i-c-l').click(function(e){
	 if(!$(this).hasClass('active')){
		$(this).addClass('active');
     }else{
        $(this).removeClass('active');
     }


 })

$(function() {
    $(".show-me-button").click(function() {
        $(this).next(".show-me").slideToggle("slow"),
        $(this).children(".iconfont").hasClass("icon-jiahao") ? ($(this).children(".iconfont").removeClass("icon-jiahao"),
        $(this).children(".iconfont").addClass("icon-jianhao")) : $(this).children(".iconfont").hasClass("icon-jianhao") && ($(this).children(".iconfont").removeClass("icon-jianhao"),
        $(this).children(".iconfont").addClass("icon-jiahao"))
    }),
    $(".question .title-h3").click(function() {
        $(this).next(".des").slideToggle("slow"),
        $(this).children(".iconfont").hasClass("icon-xiajiantou") ? ($(this).children(".iconfont").removeClass("icon-xiajiantou"),
        $(this).children(".iconfont").addClass("icon-shangjiantou")) : $(this).children(".iconfont").hasClass("icon-shangjiantou") && ($(this).children(".iconfont").removeClass("icon-shangjiantou"),
        $(this).children(".iconfont").addClass("icon-xiajiantou"))
    });

    $(".section-75 .show-content .title-h6").click(function() {
        if ($(this).parent(".content-slide").hasClass("active-slide"))
            return !1;
        $(this).parents(".show-content").children(".content-slide").each(function() {
            $(this).hasClass("active-slide") && ($(this).children(".des").slideToggle("slow"),
            $(this).removeClass("active-slide"))
        }),
        $(this).next(".des").slideToggle("slow"),
        $(this).parent(".content-slide").addClass("active-slide")
    })
});
//# sourceMappingURL=/s/files/1/1996/9707/t/60/assets/custom.js.map?v=13801754685275373918

</script>
{% include 'atb' zone:'Bottom' %}