{% include 'atb' zone:'Top' %}
{{ 'custom.css' | asset_url | stylesheet_tag }}
{{ 'custom-solar-powered-generator.css' | asset_url | stylesheet_tag }}
<div class="custom solar-powered-generator">
    <div class="banner">
        <div class="text tc">
            <h1 class="title-h1">Generador alimentador por energía solar</h1>
            <p class="des custom_mobile_hidden">Para todo aquel que busque una fuente de alimentación portátil tanto para el hogar como para exteriores, los generadores alimentados por energía solar proporcionan la alimentación necesaria sin los ruidos, el humo ni el mantenimiento que suponen un generador de gas.</p>
        </div>
        <div class="product-img-banner">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Product-Img-Banner.png?v=1650788975">
        </div>
        <div class="text">
          <p class="des custom_mobile_show">Para todo aquel que busque una fuente de alimentación portátil tanto para el hogar como para exteriores, los generadores alimentados por energía solar proporcionan la alimentación necesaria sin los ruidos, el humo ni el mantenimiento que suponen un generador de gas.</p>
        </div>
    </div>

    <div class="section-2 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-2-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow DELTA Pro</h2>
                    <h3 class="fu-title">El mejor generador solar</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/delta-pro-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-2-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">EcoFlow DELTA Pro es el mayor salto en lo que a tecnologías de alimentación portátiles respecta hasta el día de hoy. Cuenta con una capacidad ampliable de 25 kWh, una potencia ampliable de 7200 W y la carga más rápida del mercado de 6500 W y se integra con tu hogar mediante el panel inteligente EcoFlow Smart Home y el ecosistema de Smart Home. Tiene todo lo que necesitas para apagones y cortes de corriente.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/delta-pro-portable-power-station">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-2-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-2 section-2-2 section-common cd-fixed-background">
      <div class="flex-container">
          <div class="text-content flex-block tc">
              <div class="product-img custom_mobile_show">
                <a href="https://es.ecoflow.com/products/delta-2-portable-power-station">
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/solar-power-generator-delta-2.png?v=1662383965">
                </a>
              </div>
              <div class="text">
                  <h2 class="title-h2">EcoFlow DELTA 2</h2>
                  <h3 class="fu-title">Generador solar de carga rapidísima</h3>
                  <span class="short-line"></span>
              </div>
              <div class="product-img custom_mobile_hidden">
                <a href="https://es.ecoflow.com/products/delta-2-portable-power-station">
                  <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/solar-power-generator-delta-2.png?v=1662383965">
                </a>
              </div>
              <p class="des">EcoFlow DELTA 2 es imprescindible en cualquier hogar que dé prioridad a la seguridad energética y a la comodidad. Asegúrate de estar preparado con la estación de energía hecha para casi cualquier situación en la que tu familia pueda encontrarse. Está ecológico para siempre.</p>
              <a class="a-button" href="https://es.ecoflow.com/products/delta-2-portable-power-station">Adquirir Ahora</a>
          </div>
          <div class="img-content flex-block">
              <img src="https://cdn.shopify.com/s/files/1/0431/3789/2516/files/delta-2-power-generator-2.png?v=1662479612">
          </div>
      </div>
    </div>
    <div class="section-3 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/delta-max-portable-power-station?variant=39435795988553">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-3-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow DELTA Max</h2>
                    <h3 class="fu-title">Un generador solar para tu hogar</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/delta-max-portable-power-station?variant=39435795988553">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-3-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">Si estás buscando un generador solar para una autocaravana o el mejor generador solar para vivir sin conexión a la red eléctrica, el EcoFlow DELTA Max es una de las mejores opciones que existen. Cuenta con una capacidad ampliable de 6 kWh, se carga en tan solo 65 minutos y ofrece velocidades de carga solar de hasta 800 W.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/delta-max-portable-power-station?variant=39435795988553">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-3-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-4 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/delta-portable-power-station?variant=39438995456073">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-4-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow DELTA</h2>
                    <h3 class="fu-title">Generador solar para alimentación auxiliar</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/delta-portable-power-station?variant=39438995456073">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-4-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">Con una capacidad de 1260 Wh, 6 salidas de CA, carga rápida y mucho más, el EcoFlow DELTA te proporciona alimentación de reserva siempre que la necesites. También se carga completamente con paneles solares en aproximadamente 4 horas, lo que te proporciona otra fuente de energía alternativa cuando más lo necesitas.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/delta-portable-power-station?variant=39438995456073">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-4-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-5 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/delta-mini-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-5-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow DELTA mini</h2>
                    <h3 class="fu-title">Generador solar portátil</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/delta-mini-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-5-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">Si la portabilidad es una de tus máximas prioridades, el EcoFlow DELTA mini es el mejor generador alimentador por energía solar de toda la serie DELTA. Además, pesa únicamente 23,6 libras. Y no dejes que el tamaño te lleve a engaño: este generador solar compacto ofrece una excepcional potencia de 1400 W y cuenta con entrada de carga solar de 300 W e integración con la aplicación EcoFlow.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/delta-mini-portable-power-station">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-5-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-6 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/river-pro-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-6-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow RIVER Pro</h2>
                    <h3 class="fu-title">Generador Solar para acampadas</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/river-pro-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-6-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">El EcoFlow RIVER Pro te pone muy fácil el ir de acampada. Con una excelente capacidad de 720 Wh, ampliable hasta los 1440 Wh con una batería adicional RIVER Pro, carga rápida y carga solar de 200W W, disfrutarás de un generador alimentador por energía solar de excelente fiabilidad para tus acampadas.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/river-pro-portable-power-station">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-6-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-7 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/river-max-portable-power-station?variant=39335175979081">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-7-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow RIVER Max</h2>
                    <h3 class="fu-title">Generador portátil compacto</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/river-max-portable-power-station?variant=39335175979081">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-7-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">A diferencia de los generadores de gas tradicionales, el EcoFlow RIVER Max se puede utilizar en interiores con total seguridad sin ruidos, emisión de gases ni necesidad de mantenimiento. Incluye una batería extraíble para que puedas duplicar la capacidad en caso de emergencia o disfrutar de un mayor grado de portabilidad cuando estés al aire libre. Con una entrada de carga solar de 200 W, puedes llevar a cabo una carga completa mediante paneles solares en menos de 3 horas.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/river-max-portable-power-station?variant=39335175979081">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-7-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-8 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/river-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-8-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow RIVER</h2>
                    <h3 class="fu-title">Generador solar pequeño</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/river-portable-power-station">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-8-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">El EcoFlow RIVER se combina con dos paneles solares de 110 W, lo que te ofrece un generador solar ligero diseñado para aventuras al aire libre. Gracias a la carga rápida, la carga de varios dispositivos y el tiempo de carga mediante solar de 3 horas, ya no tendrás que preocuparte por quedarte sin alimentación cuando salgas al aire libre.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/river-portable-power-station">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-8-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>
    <div class="section-9 section-common cd-fixed-background">
        <div class="flex-container">
            <div class="text-content flex-block tc">
                <div class="product-img custom_mobile_show">
                  <a href="https://es.ecoflow.com/products/river-mini-portable-power-station?variant=39428799987785">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-9-Img.png?v=1650788975">
                  </a>
                </div>
                <div class="text">
                    <h2 class="title-h2">EcoFlow RIVER mini</h2>
                    <h3 class="fu-title">Cargador portátil</h3>
                    <span class="short-line"></span>
                </div>
                <div class="product-img custom_mobile_hidden">
                  <a href="https://es.ecoflow.com/products/river-mini-portable-power-station?variant=39428799987785">
                    <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-9-Img.png?v=1650788975">
                  </a>
                </div>
                <p class="des">Suministra alimentación a cualquier dispositivo en cualquier lugar con el EcoFlow RIVER mini. Carga el teléfono, el portátil, luminarias y la mayoría de tus aparatos de uso diario. ¿Y qué es lo mejor de todo? Obtendrá 210 Wh de alimentación portátil que cabe fácilmente en tu mochila y que estará lista para cualquier desafío.</p>
                <a class="a-button" href="https://es.ecoflow.com/products/river-mini-portable-power-station?variant=39428799987785">Adquirir Ahora</a>
            </div>
            <div class="img-content flex-block">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Powered-Generator-Section-9-Product-Img.png?v=1650788975">
            </div>
        </div>
    </div>

    <div class="section-10">
        <div class="bsection-container">
            <div class="faq-block tc">
                <h2 class="title-h2 font-gotham-bold tc">¿TIENES DUDAS? AQUÍ ENCONTRARÁS LAS RESPUESTAS QUE BUSCAS</h2>
                {% comment %} <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i>MUÉSTRAME</button> {% endcomment %}
                <div class="show-me" style="display: block">
                  <div class="question">
                      <div class="question-container">
                      <h3 class="title-h3 font-gotham-bold pr">¿Qué debo tener en cuenta antes de comprar un generador solar?</h3>
                      <img class="plus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12" height="12">
                      <img class="minus active" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704" width="12" height="12">
                      </div>
                      <div class="des" style="display: block;">
                      <p>Algunas de las cuestiones más importantes que deberás plantearte antes de comprar un generador solar son la capacidad, la potencia, las salidas y la química de la batería. Para obtener más información, consulta<a class="blue-span" href="https://blog.ecoflow.com/en/what-is-a-solar-generator/" target="_blank">todo lo que necesitas saber sobre los generadores solares.</a></p>
                      </div>
                  </div>
                  <div class="question">
                      <div class="question-container">
                      <h3 class="title-h3 font-gotham-bold pr">¿Puede un generador solar suministrar alimentación suficiente para una nevera de autocaravana?</h3>
                      <img class="plus active" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12" height="12">
                      <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704" width="12" height="12">
                      </div>
                      <div class="des" style="display: none;">
                      <p>Sí. Dos paneles solares de 160 W podrían bastar para suministrar corriente a una nevera si dispones de una estación de energía portátil con una batería de gran envergadura, como una EcoFlow DELTA Pro. Echa un vistazo a nuestra<a class="blue-span"  href="https://blog.ecoflow.com/en/solar-generator-kits-for-life-on-the-road/" target="_blank">Los mejores kits de generadores solares para autocaravanas.</a></p>
                      </div>
                  </div>
                  <div class="question">
                      <div class="question-container">
                      <h3 class="title-h3 font-gotham-bold pr">¿Puedes suministrar alimentación a un hogar con un generador solar?</h3>
                      <img class="plus active" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12" height="12">
                      <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704" width="12" height="12">
                      </div>
                      <div class="des" style="display: none;">
                      <p>Con la imprevisibilidad de los desastres naturales, los generadores solares son ideales para proporcionar alimentación a tu hogar. Los generadores solares se pueden utilizar en interiores, permiten ahorrar dinero y pueden alimentar dispositivos exigentes como estufas y frigoríficos.<a class="blue-span" href="https://blog.ecoflow.com/en/solar-power-generator-for-home/" target="_blank">Elige un generador solar para tu hogar.</a></p>
                      </div>
                  </div>
                  <div class="question">
                      <div class="question-container">
                      <h3 class="title-h3 font-gotham-bold pr">¿Qué tamaño de generador solar necesito para acampar?</h3>
                      <img class="plus active" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12" height="12">
                      <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704" width="12" height="12">
                      </div>
                      <div class="des" style="display: none;">
                      <p>EcoFlow DELTA Pro tiene una capacidad ampliable de hasta 25 kWh GB y puede mantener tus dispositivos en marcha durante días. Si estás de viaje largo por carretera o disfrutando de overlanding, descubre<a class="blue-span" href="https://blog.ecoflow.com/en/solar-generators-for-camping/" target="_blank">los mejores generadores solares para acampar.</a></p>
                      </div>
                  </div>
                  <div class="question last-question">
                      <div class="question-container">
                      <h3 class="title-h3 font-gotham-bold pr">¿Cuál es el mejor generador solar que puedes adquirir?</h3>
                      <img class="plus active" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12" height="12">
                      <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704" width="12" height="12">
                      </div>
                      <div class="des" style="display: none;">
                      <p>Los grupos electrógenos solares EcoFlow son ideales para suministrar alimentación a tu hogar, para vivir sin conexión a la red eléctrica y para cualquier momento que necesites almacenar energía y acceder a ella con total comodidad. Echa un vistazo a nuestro completo catálogo de<a class="blue-span" href="https://es.ecoflow.com/pages/solar-generators" target="_blank">los mejores generadores solares.</a></p>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
@media screen and (min-width: 768px) {
 .img-content.flex-block img{
    opacity: 0;
  }
  .cd-fixed-background {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .section-2.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212513.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-2.section-2-2.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/0431/3789/2516/files/delta-2-power-generator.jpg?v=1662479611);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-3.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212526.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-4.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212542.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-5.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212518.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-6.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212522.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-7.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212530.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-7.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212530.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-8.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212538.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
  .section-9.section-common{
    background-image: url(https://cdn.shopify.com/s/files/1/1996/9707/files/20220510212534.jpg?v=1652189175);
    background-position: center right;
    background-size: cover;
    background-position: right 50% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    overflow: hidden;
  }
}
  @media (min-width: 768px)  and (max-width: 1200px){
    .custom.solar-powered-generator .section-common{
        background-size: cover;

        background-position: right 50% center;
    }
    .solar-powered-generator .section-common .flex-container .flex-block {
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }
</style>
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'custom.js' | asset_url | script_tag }}
{% include 'atb' zone:'Bottom' %}