{% include 'atb', zone: 'Top' %}
{{ 'es-solar-generator.css' | asset_url | stylesheet_tag }}
<div class="custom solar-generator">
  <div class="banner pr">
    {% comment %}
    <img
      src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Generator-Banner-2.jpg?v=1643507776"
      alt="GENERADORES SOLARES" class="overlay-img custom_mobile_hidden">
    <img
      src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Generator-Banner-Mb-2_3f48e94e-b246-4764-8c6a-75d975f9dc3e.png?v=1644475052"
      alt="GENERADORES SOLARES" class="overlay-img custom_mobile_show">
    {% endcomment %}
    <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/solar-generator.jpg?v=1673591527"
      alt="SOLAR GENERATORS" class="overlay-img custom_mobile_hidden">
    <img
      src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/solar-generator-M.jpg?v=1673591527"
      alt="SOLAR GENERATORS" class="overlay-img custom_mobile_show">
    <div class="text pa tc custom_mobile_hidden">
      <div class="col-6 text-left">
        <h1 class="title-h1 font-gotham-bold">
          Generadores<br>
          Solares EcoFlow
        </h1>
        <a class="banner-button" href="#industry-leading">
          <p class="des font-gotham color-teal">seguir leyendo</p>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8.98242 5C8.98242 4.58579 8.64664 4.25 8.23242 4.25C7.81821 4.25 7.48242 4.58579 7.48242 5V10.0156L5.53033 8.06349C5.23744 7.77059 4.76256 7.77059 4.46967 8.06349C4.17678 8.35638 4.17678 8.83125 4.46967 9.12415L7.70185 12.3563C7.99475 12.6492 8.46962 12.6492 8.76251 12.3563L11.9947 9.12415C12.2876 8.83125 12.2876 8.35638 11.9947 8.06349C11.7018 7.77059 11.2269 7.77059 10.934 8.06349L8.98242 10.0151V5Z"
              fill="#0ECFE2"></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="text pa tc custom_mobile_show">
      <div class="col-12 text-center">
        <h1 class="title-h1 font-gotham-bold">
          Generadores<br>
          Solares EcoFlow
        </h1>
        <a class="banner-button justify-content-center" href="#industry-leading">
          <p class="des font-gotham color-teal">seguir leyendo</p>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8 16C12.4183 16 16 12.4183 16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16ZM8.98242 5C8.98242 4.58579 8.64664 4.25 8.23242 4.25C7.81821 4.25 7.48242 4.58579 7.48242 5V10.0156L5.53033 8.06349C5.23744 7.77059 4.76256 7.77059 4.46967 8.06349C4.17678 8.35638 4.17678 8.83125 4.46967 9.12415L7.70185 12.3563C7.99475 12.6492 8.46962 12.6492 8.76251 12.3563L11.9947 9.12415C12.2876 8.83125 12.2876 8.35638 11.9947 8.06349C11.7018 7.77059 11.2269 7.77059 10.934 8.06349L8.98242 10.0151V5Z"
              fill="#0ECFE2"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="section-2" id="industry-leading">
    <div class="text tc">
      <h2 class="title-h2 font-gotham">¿Cuál es el propósito de un <span class="color-teal">generador solar ?</span>
      </h2>
      <p class="des font-gotham">
        ¡Recoger y almacenar la energía del sol para proporcionarle una fuente de energía sostenible, económica y
        transportable! Combinando la ligereza y robustez de los paneles solares portátiles con la potencia de las
        estaciones eléctricas, ponemos a su disposición un auténtico <span class="color-white"> generador solar </span>
        todo en uno para sus estancias y excursiones al aire libre. Además, EcoFlow le permite confiar en una solución
        de respaldo para cortes de energía, sin ruido ni emisiones de humo, de manera segura, dentro de su propia casa.
      </p>
    </div>
  </div>
  <div class="section-3">
    <div class="section-3-container">
      <div class="flex-container">
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/poratable-icon.png?v=1659416423">
          </div>
          <p class="des font-gotham">Fuente de energía portátil</p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/energy-icon.png?v=1659416423">
          </div>
          <p class="des font-gotham">Almacenamiento de energía</p>
        </div>
        <div class="icon-block tc">
          <div class="icon-img">
            <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/renewable-icon.png?v=1659416423">
          </div>
          <p class="des font-gotham">Energía renovable</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-4">
    <div class="image-block">
      <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/Rectangle_5.png?v=1672243940" class="custom_mobile_hidden">
      <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/Rectangle_6_1.png?v=1672243939" class="custom_mobile_show">
    </div>
    <div class="text">
      <div class="psp--container mx-auto font-gotham">
        <div class="heading-wrapper">
          <h2 class="bold title-h2 font-gotham">
            <span class="color-teal">¿Cómo funcionan</span> los generadores solares?
          </h2>
        </div>
        <div class="flex-container">
          <div class="text-container">
            <p class="des">
              Alimentan sus dispositivos electrónicos durante sus salidas al aire libre y mantienen encendidos sus
              electrodomésticos con total tranquilidad. Los generadores solares han sido diseñados para cubrir todas sus
              necesidades y adaptarse a todas las situaciones.
            </p>
            <ul class="text-list">
              <p class="des">En el generador solar EcoFlow, encontrará: </p>

              <li class="des">• Un <strong> panel solar </strong> </li>
              <br>
              <li class="des">• Una <strong> estación de energía portátil </strong> </li>
            </ul>
          </div>
          <div class="text-container">
            <p class="des">
              ¡Una combinación única y revolucionaria! La estación de energía EcoFlow se ha creado con una tecnología
              innovadora capaz de superar los inconvenientes que pueden presentar los dispositivos convencionales.

            </p>
            <p class="des">
              Mientras que el despliegue de los paneles recoge los rayos del sol y los transforma en energía, la función
              del generador es concentrarla y almacenarla. Llegado el momento, tendrá la posibilidad de utilizar esta
              fuente de energía para <span class="color-white"> recargar sus dispositivos y equipos. </span>
              ¿Resultados? ¡No más
              restricciones! El <span class="color-white"> generador solar </span>EcoFlow le permite disponer de una
              solución fiable e
              independiente en
              situaciones
              externas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-5 section-common">
    <div class="section-container section-solar-energy">
      <div class="section-content flex-container">
        <div class="section-solar-energy-content">
          <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/solar-generator.png?v=1659425279"
            class="custom_mobile_hidden">
          <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/fr-image-2-mobile.png?v=1659507695"
            width="767" class="custom_mobile_show">
        </div>
        <div class="section-solar-energy-content">
          <div class="text">
            <div class="solar-panel-container">
              <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/ellipse-1.png?v=1659430929" width="32"
                height="32" class="custom_mobile_hidden">
              <h3 class="title-h3 font-gotham-bold">
                Recogen la energía solar con paneles solares plegables, impermeables y robustos
              </h3>
            </div>
            <p class="des font-gotham">
              Los paneles solares portátiles EcoFlow recogen la luz solar y la convierten en <span
                class="color-white">energía sostenible </span> y utilizable.
            </p>
            <div class="solar-panel-container">
              <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/ellipse-2.png?v=1659430929" width="32"
                height="32" class="custom_mobile_hidden">
              <h3 class="title-h3 font-gotham-bold">
                Capturan la energía solar con un generador eléctrico potente y adaptable
              </h3>
            </div>
            <p class="des font-gotham">
              <span class="color-white"> Almacenan energía </span> mediante un generador solar antes de distribuirla a
              su conveniencia,
              esté donde esté.
            </p>
            <div class="solar-panel-container">
              <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/ellipse-3.png?v=1659430929" width="32"
                height="32" class="custom_mobile_hidden">
              <h3 class="title-h3 font-gotham-bold">
                Alimentan sus electrodomésticos y equipos con un generador solar verdadero
              </h3>
            </div>
            <p class="des font-gotham">
              Los dispositivos EcoFlow convierten la corriente continua (CC) en corriente alterna (CA). Combinando las
              funcionalidades y tecnología de sus paneles y baterías, el kit solar EcoFlow se convierte en un <span
                class="color-white">
                grupo electrógeno silencioso </span> apto para todos sus dispositivos y equipos electrónicos.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-container section-solar-energy solar-energy-2">
      <div class="section-content flex-container">
        <div class="section-solar-energy-content">
          <div class="text">
            <h2 class="title-h2 font-gotham-bold">
              El grupo electrógeno de respaldo para su hogar – <span class="color-teal">Serie <i>DELTA</i></span>
            </h2>
            <p class="des font-gotham">
              ¿Sufre repetidos cortes de energía? ¿Está buscando una solución de respaldo, duradera y económica para
              alimentar sus aparatos y electrodomésticos? La serie DELTA EcoFlow ha sido diseñada para ofrecer una
              alternativa ecológica y eficiente a los generadores de combustibles fósiles contaminantes. Al recoger y
              almacenar los rayos del sol de forma silenciosa y sin necesidad de utilizar combustible, un
              <span class="color-white"> grupo electrógeno solar </span> convierte sus cortes de luz en un problema
              fácil de resolver.
            </p>
            <div class="custom_mobile_hidden">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/collections/delta-solar-generators"
                target="_blank">MÁS INFORMACIÓN</a>
            </div>
            <div class="custom_mobile_show tc">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/collections/delta-solar-generators"
                target="_blank">MÁS INFORMACIÓN</a>
            </div>
          </div>
        </div>
        <div class="section-solar-energy-content">
          <img
            src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Generator-Delta.png?v=1643512327"
            class="custom_mobile_hidden">
          <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/fr-image-3-mobile.png?v=1659508932"
            width="767" class="custom_mobile_show">
        </div>
      </div>
    </div>

    <div class="section-container">
      <div class="show-products custom_mobile_hidden">
        <div class="flex-container">
          <div class="section-product tc sc-bg-white">
            <a href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel"
              target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Generator-Product-Delta-2.jpg?v=1644202930"
                class="custom_mobile_hidden_inline">
            </a>
            <h6 class="title-h6 font-gotham-bold">
              DELTA 2 + 2 paneles solares de<br>
              220 W<br>
              (1024 Wh)
            </h6>
            <a class="a-button font-gotham"
              href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel"
              target="_blank">Comprar Ahora</a>
          </div>
          <div class="section-product tc sc-bg-gray">
            <a href="https://es.ecoflow.com/products/delta-max-solar-generator-160w-solar-panel?variant=41928099201188" target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Solar-Generator-Product-Delta-3.jpg?v=1644202930"
                class="custom_mobile_hidden_inline">
            </a>
            <h6 class="title-h6 font-gotham-bold">
              DELTA Max + 4 paneles solares de<br>
              160 W<br>
              (2016 Wh)
            </h6>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/delta-max-solar-generator-160w-solar-panel?variant=41928099201188"
              target="_blank">Comprar Ahora</a>
          </div>
          <div class="section-product tc sc-bg-white">
            <a href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
              target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/EU_DELTA_Pro_400W_Portable_SP_Transparent.png?v=1673424352"
                class="custom_mobile_hidden_inline">
            </a>
            <h6 class="title-h6 font-gotham-bold">
              DELTA Pro + 3 paneles solares de<br>
              400 W<br>
              (3600 Wh)
            </h6>
            <a class="a-button font-gotham"
              href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
              target="_blank">Comprar Ahora</a>
          </div>
        </div>
      </div>

      <div class="show-products custom_mobile_show">
        <div class="flex-container">
          <div class="solar-generator-slider">
            <div class="section-product tc sc-bg-white">
              <a href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel"
                target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta2-220w.png?v=1671510919"
                  class="custom_mobile_show_inline">
              </a>
              <h6 class="title-h6 font-gotham-bold">
                DELTA 2 + 2 paneles solares de 220 W<br>
                (1024 Wh)
              </h6>
              <a class="a-button font-gotham"
                href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel"
                target="_blank">Comprar Ahora</a>
            </div>
            <div class="section-product tc sc-bg-white">
              <a href="https://es.ecoflow.com/products/delta-max-solar-generator-160w-solar-panel?variant=41928099201188" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta-max-3.png?v=1663847053"
                  class="custom_mobile_show_inline">
              </a>
              <h6 class="title-h6 font-gotham-bold">
                DELTA Max + 4 paneles solares de 160 W<br>
                (2016 Wh)
              </h6>
              <a class="a-button font-gotham"
                href="https://es.ecoflow.com/products/delta-max-solar-generator-160w-solar-panel?variant=41928099201188"
                target="_blank">Comprar Ahora</a>
            </div>
            <div class="section-product tc sc-bg-white">
              <a href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
                target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/EU_DELTA_Pro_400W_Portable_SP_Mobile_Transparent.png?v=1673424352"
                  class="custom_mobile_show_inline">
              </a>
              <h6 class="title-h6 font-gotham-bold">
                DELTA Pro + 3 paneles solares de 400 W<br>
                (3600 Wh)
              </h6>
              <a class="a-button font-gotham"
                href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
                target="_blank">Comprar Ahora</a>
            </div>
          </div>
        </div>
      </div>

      <div class="product-parameters tc custom_mobile_hidden">
        <h3 class="title-h3 font-gotham-bold">
          Compare los generadores solares portátiles de la serie
          <br>
          <i>DELTA</i>
        </h3>
        <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i> MÁS
          INFORMACIÓN</button>
        <div class="show-me">
          <div class="flex-container">
            <div class="product-parameter bg-light-grey">
              <p class="parameter-title font-gotham-bold tc">
                DELTA 2 (1024 Wh)<br>
                + 2 paneles solares de 220 W<br>
              </p>
              <a href="https://es.ecoflow.com/products/delta-2-220w-portable-solar-panel?variant=43293121773790"
                target="_blank">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/products/ecoflow-delta-2-panel-solar-de-220w-38982771310814_1066x.png?v=1675664623">
              </a>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Entrada solar<br>
                500 W<br>
                (Máx.)
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing last-spacing">
                Carga solar<br>
                3 horas<br>
                (Mín.)
              </p>
            </div>
            <div class="product-parameter bg-dark-gray">
              <p class="parameter-title font-gotham-bold tc">
                DELTA Max (2016 Wh)<br>
                + 4 paneles solares de 160 W<br>
              </p>
              <a href="https://es.ecoflow.com/products/delta-max-160w-portable-solar-panel?variant=42969732284638" target="_blank">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/products/ecoflow-delta-max-solar-panel-de-160w-38982882296030_1066x.png?v=1675665342">
              </a>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Entrada solar<br>
                800 W<br>
                (Máx.)
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing last-spacing">
                Carga solar<br>
                4 horas<br>
                (Mín.)
              </p>
            </div>
            <div class="product-parameter bg-light-grey">
              <p class="parameter-title font-gotham-bold tc">
                DELTA Pro (3600 Wh) <br>
                + 3 paneles solares de 400W<br>
              </p>
              <a href="https://es.ecoflow.com/products/delta-pro-400w-portable-solar-panel?variant=43081448030430"
                target="_blank">
                <img
                  src="https://cdn.shopify.com/s/files/1/0651/6922/7998/products/ecoflow-delta-pro-panel-solar-portatil-de-400w-38982826131678_1066x.png?v=1675664983">
              </a>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Entrada solar<br>
                1600 W<br>
                (Máx.)
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing last-spacing">
                Carga solar<br>
                3,5 horas<br>
                (Mín.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-6 section-common">
    <div class="section-container">
      <div class="section-content flex-container">
        <div class="section-solar-energy-content">
          <img src="https://cdn.shopify.com/s/files/1/0649/2533/5793/files/desktop_2_EU.png?v=1672749270" class="custom_mobile_hidden">
          <img src="https://cdn.shopify.com/s/files/1/0649/2533/5793/files/mobile_2_EU.png?v=1672749270" class="custom_mobile_show">
        </div>
        <div class="section-solar-energy-content">
          <div class="text">
            <h2 class="title-h2 font-gotham-bold">
              El kit solar de autoconsumo para sus excursiones al aire libre –
              <span class="color-teal"> Serie <i> RIVER </i> </span>
            </h2>
            <p class="des font-gotham">
              ¿Busca una solución ecológica para su próxima salida al aire libre? ¿Busca un <span class="color-white">
                kit solar para autocaravanas con batería </span> integrada? EcoFlow ofrece la serie RIVER, que combina
              una batería portátil y un panel solar plegable, para alimentar todos sus dispositivos electrónicos con
              energía limpia y renovable.
            </p>
            <div class="custom_mobile_hidden">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/collections/river-solar-generators"
                target="_blank">MÁS INFORMACIÓN</a>
            </div>
            <div class="custom_mobile_show tc">
              <a class="a-button font-gotham" href="https://es.ecoflow.com/collections/river-solar-generators"
                target="_blank">MÁS INFORMACIÓN</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-common">
    <div class="section-container">
      <div class="show-products custom_mobile_hidden">
        <div class="flex-container">
          <div class="section-product tc sc-bg-white">
            <a href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel" target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/EU_River_2_110W_solar_panel.png?v=1669092474"
                class="custom_mobile_hidden_inline">
            </a>
            <h6 class="title-h6 font-gotham-bold">
              RIVER 2 + paneles solares de<br>
              110 W<br>
              (256 Wh)
            </h6>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel"
              target="_blank">Comprar Ahora</a>
          </div>
          <div class="section-product tc sc-bg-gray">
            <a href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel" target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/EU_River_2_Max_160W_solar_panel.png?v=1669092474"
                class="custom_mobile_hidden_inline">
            </a>
            <h6 class="title-h6 font-gotham-bold">
              RIVER 2 Max + paneles solares de<br>
              160W<br>
              (512 Wh)
            </h6>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel"
              target="_blank">Comprar Ahora</a>
          </div>
          <div class="section-product tc sc-bg-white">
            <a href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel" target="_blank">
              <img
                src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/EU_River_2_Pro_220W_solar_panel.png?v=1669092474"
                class="custom_mobile_hidden_inline">
            </a>
            <h6 class="title-h6 font-gotham-bold">
              RIVER 2 Pro + paneles solares de<br>
              220 W<br>
              (768 Wh)
            </h6>
            <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel"
              target="_blank">Comprar Ahora</a>
          </div>
        </div>
      </div>

      <div class="show-products custom_mobile_show">
        <div class="flex-container">
          <div class="solar-generator-slider">
            <div class="section-product tc sc-bg-white">
              <a href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_110W_EU.png?v=1669092474"
                  class="custom_mobile_show_inline">
              </a>
              <h6 class="title-h6 font-gotham-bold">
                RIVER 2 + paneles solares de<br>
                110 W<br>
                (256 Wh)
              </h6>
              <a class="a-button font-gotham" href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel"
                target="_blank">Comprar Ahora</a>
            </div>
            <div class="section-product tc sc-bg-white">
              <a href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_160W_EU.png?v=1669092474"
                  class="custom_mobile_show_inline">
              </a>
              <h6 class="title-h6 font-gotham-bold">
                RIVER 2 Max + paneles solares de<br>
                160W<br>
                (512 Wh)
              </h6>
              <a class="a-button font-gotham"
                href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel" target="_blank">Comprar
                Ahora</a>
            </div>
            <div class="section-product tc sc-bg-white">
              <a href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_220W_EU.png?v=1669092474"
                  class="custom_mobile_show_inline">
              </a>
              <h6 class="title-h6 font-gotham-bold">
                RIVER 2 Pro + paneles solares de<br>
                220 W<br>
                (768 Wh)
              </h6>
              <a class="a-button font-gotham"
                href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel" target="_blank">Comprar
                Ahora</a>
            </div>
          </div>
        </div>
      </div>

      <div class="product-parameters tc custom_mobile_hidden">
        <h3 class="title-h3 font-gotham-bold">
          Compare los generadores solares portátiles de la serie<br>
          <i>RIVER</i>
        </h3>
        <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i> MÁS
          INFORMACIÓN</button>
        <div class="show-me">
          <div class="flex-container">
            <div class="product-parameter bg-light-grey">
              <p class="parameter-title font-gotham-bold tc">
                RIVER 2 + paneles solares de 110 W<br>
                (256 Wh)
              </p>
              <a href="https://es.ecoflow.com/products/river-2-110w-portable-solar-panel" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_110W_EU.png?v=1669092474">
              </a>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Entrada solar<br>
                110 W
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing last-spacing">
                Carga solar<br>
                3 horas (en paralelo)
              </p>
            </div>
            <div class="product-parameter bg-dark-gray">
              <p class="parameter-title font-gotham-bold tc">
                RIVER 2 Max + paneles solares de 160W<br>
                (512 Wh)
              </p>
              <a href="https://es.ecoflow.com/products/river-2-max-160w-portable-solar-panel" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Max_160W_EU.png?v=1669092474">
              </a>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Entrada solar<br>
                220 W
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing last-spacing">
                Carga solar<br>
                4,5 horas (en paralelo)
              </p>
            </div>
            <div class="product-parameter bg-light-grey">
              <p class="parameter-title font-gotham-bold tc">
                RIVER 2 Pro + paneles solares de 220 W<br>
                (768 Wh)
              </p>
              <a href="https://es.ecoflow.com/products/river-2-pro-220w-portable-solar-panel" target="_blank">
                <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/RIVER_2_Pro_220W_EU.png?v=1669092474">
              </a>
              <p class="other-parameter font-gotham-bold divider parameter-spacing">
                Entrada solar<br>
                220 W
              </p>
              <p class="other-parameter font-gotham-bold divider parameter-spacing last-spacing">
                Carga solar<br>
                4,5 horas (en paralelo)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-7">
    <div class="section-7-slider custom_mobile_show">
      <div class="solar-generator-slider">
        <img
          src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/slider-image-mobile-1_695767f7-cdbf-4876-be8a-1e4c400548cc.png?v=1659518643"
          class="custom_mobile_show">
        <img
          src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/slider-image-mobile-2_b0d58070-92f0-477a-9513-373c2cd9a45a.png?v=1659518643"
          class="custom_mobile_show">
        <img
          src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/slider-image-mobile-3_fff33e0f-b9b4-4226-ad7e-a33bf55f5ceb.png?v=1659518643"
          class="custom_mobile_show">
      </div>
    </div>
    <div class="text">
      <div class="custom_mobile_hidden">
        <div class="psp--container mx-auto">
          <div class="flex-container">
            <div class="section-solar-energy-content">
              <h2 class="bold title-h2 font-gotham-bold">Un grupo electrógeno silencioso, responsable y adaptable</h2>
              <p class="des font-gotham">
                Combinamos dos soluciones distintas de la serie de productos EcoFlow, los paneles y las baterías
                solares, para crear una <span class="color-white">estación de energía portátil</span> completa para
                cumplir con sus necesidades energéticas, tanto en interiores como en exteriores. Más allá de su
                adaptabilidad en el aire libre, los generadores solares, gracias a su configuración, también se
                benefician de varias calibraciones, todas adaptadas a sus diferentes necesidades, así como a su
                presupuesto. ¡Y todo ello sin que cambien sus cualidades!
              </p>
              <p class="des font-gotham">
                Las células de silicio monocristalino que componen los paneles solares ofrecen una alta eficiencia de
                <span class="color-white">conversión del 21-22%.</span>
              </p>
              <p class="des font-gotham">
                La estación de energía portátil DELTA es capaz de recargar de
                <span class="color-white">0 a 80%</span> en solo una hora, brindándole energía extra rápidamente
                accesible, sin importar dónde se encuentre.
              </p>
              <p class="des font-gotham">
                La serie <i> RIVER </i> le permite alimentar hasta
                <span class="color-white">nueve dispositivos</span> simultáneamente a través de sus múltiples
                puertos de
                salida. Gracias a sus 288 Wh de capacidad, puede recargar sus móviles, tablets, GPS, y más, en un abrir
                y cerrar de ojos.
              </p>
              <p class="des font-gotham">
                Una vez combinadas, estas diferentes soluciones le permiten confiar en un sistema que cubre todo el
                proceso de recogida, almacenamiento y suministro de energía.
                <span class="color-white">Dentro o fuera de casa;</span> el kit solar EcoFlow se adapta a todas sus
                necesidades.
              </p>
            </div>
            <div class="section-solar-energy-content">
              <div class="flex-container-img">
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/generator-set-1.png?v=1659436447">
                </div>
                <div class="image-container">
                  <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/generator-set-2.png?v=1659436447">
                </div>
              </div>
              <div class="image-container-2">
                <img src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/generator-set-3.png?v=1659436447">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="custom_mobile_show mx-auto">
        <div class="psp--container mx-auto">
          <div class="adaptable-generator">
            <div class="content-container">
              <h2 class="bold title-h2 font-gotham-bold">Un grupo electrógeno silencioso, responsable y adaptable</h2>
              <p class="des font-gotham">
                Combinamos dos soluciones distintas de la serie de productos EcoFlow, los paneles y las baterías
                solares, para crear una <span class="color-white">estación de energía portátil</span> completa para
                cumplir con sus necesidades energéticas, tanto en interiores como en exteriores. Más allá de su
                adaptabilidad en el aire libre, los generadores solares, gracias a su configuración, también se
                benefician de varias calibraciones, todas adaptadas a sus diferentes necesidades, así como a su
                presupuesto. ¡Y todo ello sin que cambien sus cualidades!
              </p>
              <p class="des font-gotham">
                Las células de silicio monocristalino que componen los paneles solares ofrecen una alta eficiencia de
                <span class="color-white">conversión del 21-22%.</span>
              </p>
              <p class="des font-gotham">
                La estación de energía portátil DELTA es capaz de recargar de
                <span class="color-white">0 a 80%</span> en solo una hora, brindándole energía extra rápidamente
                accesible, sin importar dónde se encuentre.
              </p>
              <p class="des font-gotham">
                La serie <i> RIVER </i> le permite alimentar hasta
                <span class="color-white">nueve dispositivos</span> simultáneamente a través de sus múltiples
                puertos de
                salida. Gracias a sus 288 Wh de capacidad, puede recargar sus móviles, tablets, GPS, y más, en un abrir
                y cerrar de ojos.
              </p>
              <p class="des font-gotham">
                Una vez combinadas, estas diferentes soluciones le permiten confiar en un sistema que cubre todo el
                proceso de recogida, almacenamiento y suministro de energía.
                <span class="color-white">Dentro o fuera de casa;</span> el kit solar EcoFlow se adapta a todas sus
                necesidades.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text">
      <div class="single-crystal-wrapper">
        <div class="psp--container single-crystal-container mx-auto">
          <div class="flex-container">
            <div class="single-crystal">
              <h2 class="title-h2 font-gotham-bold">
                Las células de silicio monocristalino que componen los paneles solares ofrecen una alta eficiencia de
                <span class="color-teal">conversión de</span>
              </h2>
            </div>
            <div class="single-crystal-percent">
              <h2 class="font-gotham-bold title-h2 single-crystal-percentage">21-22%</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text custom_mobile_hidden">
      <div class="psp--container mx-auto flex-start">
        <div class="flex-container">
          <div class="section-solar-energy-content flex-column">
            <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta-image2.png?v=1674175733">
            <h2 class="bold title-h2 font-gotham">La serie <span class="color-teal">DELTA</span></h2>
            <p class="des font-gotham">
              La estación de energía portátil DELTA es capaz de recargar de 0 a 80% en solo una hora, brindándole
              energía extra rápidamente accesible, sin importar dónde se encuentre.
            </p>
          </div>
          <div class="section-solar-energy-content flex-column">
            <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/output-cropped-new.jpg?v=1679470584">
            <h2 class="bold title-h2 font-gotham">La serie <span class="color-teal">RIVER</span></h2>
            <p class="des font-gotham">
              La serie RIVER le permite alimentar hasta nueve dispositivos simultáneamente a través de sus múltiples
              puertos de salida. Gracias a sus 288 Wh de capacidad, recargue sus móviles, tablets, GPS, y más, en un
              abrir y cerrar de ojos.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text tc custom_mobile_show product-container-slider">
      <div class="psp--container mx-auto">
        <div class="">
          <div class="solar-generator-slider">
            <div class="product-container">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/delta-image2.png?v=1674175733">
              <h2 class="bold title-h2 font-gotham">La serie <span class="color-teal">DELTA</span></h2>
              <p class="des font-gotham">
                La estación de energía portátil DELTA es capaz de recargar de 0 a 80%
                en solo una hora, brindándole energía extra rápidamente accesible, sin importar dónde se encuentre.
              </p>
            </div>
            <div class="product-container">
              <img src="https://cdn.shopify.com/s/files/1/0651/6922/7998/files/output-cropped-new.jpg?v=1679470584">
              <h2 class="bold title-h2 font-gotham">La serie <span class="color-teal">RIVER</span></h2>
              <p class="des font-gotham">
                La serie RIVER le permite alimentar hasta nueve dispositivos
                simultáneamente a través de sus múltiples puertos de salida. Gracias a sus 288 Wh de capacidad, recargue
                sus móviles, tablets, GPS, y más, en un abrir y cerrar de ojos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text tc ecoflow-solar-kit-container mx-auto">
      <div class="psp--container mx-auto">
        <div class="">
          <div class="ecoflow-solar-kit-content-container">
            <p class="des font-gotham">
              Una vez combinadas, estas diferentes soluciones le permiten disponer de un sistema que cubre todo el
              proceso de recogida, almacenamiento y suministro de energía. Dentro y fuera de casa, el kit solar EcoFlow
              se adapta a todas sus necesidades.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-8">
    <div class="bsection-container">
      <div class="faq-block tc">
        <h2 class="title-h2 font-gotham-bold tc">Generadores solares EcoFlow: las respuestas a sus preguntas</h2>
        {% comment %} <button type="button" class="show-me-button font-gotham"><i
            class="iconfont icon-jiahao"></i>MUÉSTRAME</button> {% endcomment %}
        <div class="show-me" style="display: block">
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Son eficientes los kits solares?</h3>
              <img class="plus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704"
                width="12" height="12">
              <img class="minus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704" width="12"
                height="12">
            </div>
            <div class="des" style="display: block;">
              <p>
                Los generadores solares son fuentes de energía limpias y silenciosas. Su configuración le permite cargar
                sus dispositivos y equipos electrónicos sin ruido y sin emisiones de humo, a diferencia de un generador
                de combustible tradicional. Aquí no es necesaria la combustión, lo que le permite usarlos en interiores,
                así como en exteriores. Al combinar los paneles solares EcoFlow y las estaciones eléctricas portátiles,
                se beneficia de una fuente de energía ecológica y sostenible, en cualquier circunstancia.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Cuál es el tamaño ideal de un kit solar para acampar?</h3>
              <img class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12"
                height="12">
              <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12" height="12">
            </div>
            <div class="des" style="display: none;">
              <p>
                Todo depende de sus necesidades. Los kits solares han sido fabricados para satisfacer todas las
                situaciones. Su tamaño se adapta a cada actividad, desde un simple paseo por el bosque hasta largas
                excursiones en autocaravana. Con esto en mente, EcoFlow pone a su disposición toda una serie de paneles
                solares y estaciones eléctricas portátiles, que van de 256 Wh a 768 Wh con la serie RIVER y de 1024 Wh a 3600 Wh con la serie DELTA.
                ¿El objetivo? Proporcionarle una fuente de energía adecuada para alimentar sus dispositivos.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Puede un generador solar alimentar una autocaravana?</h3>
              <img class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12"
                height="12">
              <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12" height="12">
            </div>
            <div class="des" style="display: none;">
              <p>
                Portátil, ligero y robusto, el generador solar EcoFlow ha sido diseñado para hacer frente a todos los
                escenarios que se pueden encontrar durante una excursión al aire libre. La serie <em>RIVER</em> le
                permite encender y recargar luces, el refrigerador y otros elementos esenciales de su autocaravana
                durante horas con tranquilidad. Al mismo tiempo, puede recargar rápidamente la batería utilizando
                paneles solares, una toma de CA e incluso el adaptador de 12V de su vehículo.
              </p>
            </div>
          </div>
          <div class="question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">¿Hay generadores que funcionan con energía solar?</h3>
              <img class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12"
                height="12">
              <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12" height="12">
            </div>
            <div class="des" style="display: none;">
              <p>
                ¡Absolutamente! Los generadores solares EcoFlow son verdaderos generadores solares, ecológicos y
                portátiles, adecuados para sus salidas al aire libre, pero no solo eso; también pueden convertirse en
                una fuente de energía de respaldo en caso de un corte de energía. Además son económicos, permitiéndole
                reducir su factura energética al transformar los rayos del sol en una fuente de energía. Los paneles
                solares recogen y almacenan energía a través de la batería, antes de que esta misma convierta la
                corriente continua en corriente alterna. Todo lo que tiene que hacer es conectar sus dispositivos y
                equipos cuando lo necesite.
              </p>
            </div>
          </div>
          <div class="question last-question">
            <div class="question-container">
              <h3 class="title-h3 font-gotham-bold pr">
                ¿Cuál es la mejor opción para una autocaravana: un generador solar o un generador de combustible?
              </h3>
              <img class="plus active"
                src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/plus.png?v=1659531704" width="12"
                height="12">
              <img class="minus" src="https://cdn.shopify.com/s/files/1/0625/0718/8450/files/minus.png?v=1659531704"
                width="12" height="12">
            </div>
            <div class="des" style="display: none;">
              <p>
                A diferencia de los generadores de combustible, que son ruidosos y contaminantes, los generadores
                solares son silenciosos, limpios y portátiles. No necesitan combustibles fósiles para funcionar, siendo
                el sol su única fuente de energía. En términos de rendimiento, el kit solar EcoFlow también le ofrece
                una fuente fiable de energía gracias a la combinación de sus paneles solares y sus baterías portátiles.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-9" style="display: none;">
    <h3 class="title-h3 font-gotham-bold tc">CARACTERÍSTICAS INCLUIDAS</h3>
    <div class="media-container custom_mobile_hidden">
      <div class="media-logo">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo.png?v=1641715228">
      </div>
    </div>
    <div class="mobile-media-container custom_mobile_show">
      <div class="media-logo">
        <img
          src="https://cdn.shopify.com/s/files/1/1996/9707/files/Collection-Page-Portable-Power-Station-Media-Logo-Mobile-1.png?v=1641666769">
      </div>
    </div>
  </div>
</div>

{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'custom.js' | asset_url | script_tag }}
{% include 'atb', zone: 'Bottom' %}
