
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
<link href="{{ 'slick.css' | asset_url }}" rel="stylesheet" type="text/css">
<script src="{{ 'jquery.min.js' | asset_url }}"  type="text/javascript"></script>
<script src="{{ 'slick.js' | asset_url }}" type="text/javascript" defer></script>

<div class="recommendation-page-outer recommendation-page-lp-outer">
    {% section 'product-recommendations-banner-lp' %}
    {% section 'product-recommendations-ps-lp' %}
    {% section 'more-product-recommendations-lp' %}
</div>
<script src="{{ 'giving-back-page.js' | asset_url }}" type="text/javascript" defer></script>
