
<div class="ecosystem-page-outer">
    {% section 'ecosystem-banner' %}
    {% section 'ecosystem-slideshow' %}
    {% section 'ecosystem-image-with-text' %}
    {% section 'ecosystem-images-row' %}
    {% section 'ecosystem-image-with-text-alternate' %}
    {% section 'ecosystem-images-grid' %}
    {% section 'page-bottom-text' %}
</div>
