
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {{ 'custom-blackout-preparation.css' | asset_url | stylesheet_tag }}

    <div class="custom portable-314-stations">
      <div class="banner pr">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_fc6d7397-e1b3-42da-bcbb-99afba47f81c.jpg?v=1647332338" alt="EcoFlowポータブル電源" class="overlay-img custom_mobile_hidden">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/409.jpg?v=1647333036" alt="EcoFlowポータブル電源" class="overlay-img custom_mobile_show">
        <div class="text pa pa1 tc w100">
          <h2 class="title-h1 color-white nb">Free yourself from the grid</h2>
        </div>

      </div>
      <div class="banner1 pr">

        <div class="text tlm tc w100">

          <h2 class="title-h3 color-white">Prepare for power outages</h2>
          <p class="des color-white">With extreme weather events on the rise across the US, EcoFlow is on a mission to help every home prepare for power outages. How can you prepare? Read this page, get informed and pick up a portable power station. </p>
        </div>
      </div>
      <div class="section-2 max1300 pr">
        <div class="text pa  tr w100 custom_mobile_hidden">
          <h2 class="title-h2">What causes blackouts?</h2>
          <div class="des">Power grids across the US are under pressure, causing more blackouts than ever. But what causes blackouts? The short answer is out of date power facilities & extreme weather. The long answer? Read our blog to learn the 10 common causes of blackouts (and 2 unexpected ones). </div>
          <div class="blackouts"><a target="_blank" href="https://us.ecoflow.com/blogs/blog/causes-of-power-outages">Read the top 10 causes of blackouts</a></div>
        </div>
        <div class="text  tlm tr w100 custom_mobile_show">
          <h2 class="title-h2">What causes blackouts?</h2>
          <div class="des">Power grids across the US are under pressure, causing more blackouts than ever. But what causes blackouts? The short answer is out of date power facilities & extreme weather. The long answer? Read our blog to learn the 10 common causes of blackouts (and 2 unexpected ones). </div>
          <div class="blackouts"><a target="_blank" href="https://us.ecoflow.com/blogs/blog/causes-of-power-outages">Read the top 10 causes of blackouts</a></div>
        </div>
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/404_bb1e8a9a-7b7e-43fd-a474-2645552a7159.png?v=1647345526" class="custom_mobile_hidden">
        <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/410.jpg?v=1647333036" class="custom_mobile_show">
        <div class="bb" style="clear: both;"></div>
        <div class="custom_mobile_show">

        </div>
      </div>
      <div class="section-3 max1300 pr">
        <div class="item-container">
          <div class="text-item">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4620.jpg?v=1647347100">
            <h2 class="title-h2">Storms</h2>
            <div class="des">Severe storms can lead to flooding, deep-freezes, power line damage, stress on the grid & a whole lot more disruption. Solar generators can tide you over until the power is back on-line. </div>
            <div class="des mtp">
      Tip: Keep portable power in your home in the event of rolling blackouts.</div>
          </div>
          <div class="text-item mleft">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4693.jpg?v=1647347100">
            <h2 class="title-h2">Wildfires</h2>
            <div class="des">Wildfires can damage power lines, disrupt entire swathes of suburbs and cause chaos. Portable power can secure your home supply, or be a source of energy on the go.</div>
            <div class="des mtp">Tip: Clear a perimeter around your home. Add mesh over any open vents.</div>
          </div>
        </div>
        <div class="item-container">
          <div class="text-item">
            <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4622.jpg?v=1647347100">
            <h2 class="title-h2">Hurricanes</h2>
            <div class="des">Hurricanes can result in 2.4 trillion gallons of rain per day, causing major power outages across cities. </div>
            <div class="des mtp">Tip: Move essentials away from the ground floor, especially electronics. </div>
          </div>
          <div class="text-item mleft">

            <div class="learn-m custom_mobile_hidden"><a target="_blank" href="https://us.ecoflow.com/blogs/blog/causes-of-power-outages"> Learn more causes of blackouts</a></div>

          </div>
        </div>
      </div>

      <div class="section-4 max1900 pr">
        <div class="img-left custom_mobile_hidden"><img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/4_eb4ee4b2-d5f3-4ec0-a472-ad65ed36cca9.jpg?v=1647359568"></div>
        <div class="text-right-pa pa custom_mobile_hidden">
          <h2 class="title-h3">How long do power <br>outages last?</h2>
          <div class="des">It depends what caused it. Extreme weather events can lead to extended blackouts lasting hours to days. Grid pressure can then trigger planned rolling blackouts for hours at a time, as we saw in Texas last year. On the other hand, some blackouts only last for minutes, enough to disturb your day. Click below to explore the “how long do power outages last” topic. However long a blackout is, you can keep your home comforts running with a <a  target="_blank"  href="https://us.ecoflow.com/pages/portable-power-stations">portable power station</a>. </div>
          <div class="outage"><a  target="_blank" href="https://ecoflow.com/blogs/blog/how-long-does-a-power-outage-last">Read our outage length guide</a></div>
        </div>
        <div class="img-right-bottom pa custom_mobile_hidden"><img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/5_7a7b6a5b-e022-4c1f-b565-d9abc717b8bc.jpg?v=1647359568"></div>
        <div class="text-right-npa  custom_mobile_show">
          <h2 class="title-h3">How long do power outages last?</h2>
          <div class="des">It depends what caused it. Extreme weather events can lead to extended blackouts lasting hours to days. Grid pressure can then trigger planned rolling blackouts for hours at a time, as we saw in Texas last year. On the other hand, some blackouts only last for minutes, enough to disturb your day. Click below to explore the “how long do power outages last” topic. However long a blackout is, you can keep your home comforts running with a <a target="_blank" href="https://us.ecoflow.com/pages/portable-power-stations">portable power station</a>. </div>
          <div class="outage"><a  target="_blank" href="https://ecoflow.com/blogs/blog/how-long-does-a-power-outage-last">Read our outage length guide</a></div>
        </div>
        <div class="img-right-bottom-b  custom_mobile_show"><img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/414.jpg?v=1647363120"></div>

      </div>

      <div class="section-5 max1900 ">

        <div class="text">
          <h2 class="title-h2r">
    <!--         <span class="yinghano">"</span> -->
            <img class="yinghano" src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_37973633-d378-41ed-bd62-a8a7af6eadac.jpg?v=1647600435">
          It’s built like a tank, it’s expandable … If there’s a disaster, it’s the unit I’m gonna grab.
          <img class="yinghano1" src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_37973633-d378-41ed-bd62-a8a7af6eadac.jpg?v=1647600435"></h2>
        </div>
        <div class="m-container">
           <div class="des-min">City Prepping on EcoFlow DELTA Max</div>
            <div class="video-container">
             <iframe width="100%" height="100%" class="elementor-video-iframe" src="https://www.youtube.com/embed/qJZvc_zx1Kw?autoplay=0"
              frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
               </iframe>
              <img class="custom_mobile_hidden"  src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1_19cc321f-b182-4bc6-92f4-83261ff28860.jpg?v=1647597805">
            </div>
        </div>

      </div>
      <div class="bg-light-grey">
        <div class="section-4 section-41 max1900 pr">
          <div class="img-left custom_mobile_hidden"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/403_e664a4bb-18a3-410c-9cc4-074b044b9005.jpg?v=1647415998"></div>
          <div class="text-right-pa pa custom_mobile_hidden">
            <h2 class="title-h3">How can I get prepared?</h2>
            <div class="des">Power is fundamental to comfort and safety. The best way to prepare for blackouts is by picking up an EcoFlow solar generator bundle. With that, you’ll be able to store energy in a battery that’s quiet, clean and usable indoors. Charge up no matter what happens.  </div>

          </div>
          <div class="img-right-bottom pa custom_mobile_hidden"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/428_9513a61b-a7d4-4c0d-b52f-9c2bc1996fd3.jpg?v=1647415998"></div>
          <div class="text-right-npa  custom_mobile_show">
            <h2 class="title-h3">How can I get prepared?</h2>
            <div class="des">Power is fundamental to comfort and safety. The best way to prepare for blackouts is by picking up an EcoFlow solar generator bundle. With that, you’ll be able to store energy in a battery that’s quiet, clean and usable indoors. Charge up no matter what happens.  </div>

          </div>
          <div class="img-right-bottom-b  custom_mobile_show"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/421.png?v=1647417246"></div>

        </div>
      </div>
      <div class="bg-light-grey section-6 section-66">
         <div class="">
            <h2 class="title-h3 tc custom_mobile_hidden">The ultimate home backup solution</h2>
            <h2 class="title-h3 tc custom_mobile_show">The ultimate home <br>backup solution</h2>
          </div>
        <div class="section-6  max1600 ">

          <div class="containers  pr custom_mobile_hidden">
            <div class="img-l "><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1_b775c17a-c156-4bdc-9853-6027204e367b.jpg?v=1647418777"></div>
            <div class="right-c">
              <img class="t-img" src="https://cdn.shopify.com/s/files/1/1996/9707/files/2_1_d3723eef-9e6f-411f-b62c-430769b791e9.jpg?v=1647419336">
               <h3 class="title-h3 midd">Solar Bundle</h3>
              <div class="des-c sg">*Includes DELTA Pro + 400W Solar Panel</div>
              <div class="des-c thr"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4697.jpg?v=1647418951"><p class="des">Expandable Capacity (3.6kWh—25kWh)</p></div>
              <div class="des-c ig-mt thr"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4695.jpg?v=1647418951"><p class="des">Power Pretty Much Anything (3600W-7200W Output)</p></div>
              <div class="des-c ig-mt1 thr"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4696.jpg?v=1647418951"><p class="des">World’s Fastest Charging (MultiCharge 6500W)</p></div>
              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/delta-pro-portable-power-station">Learn More</a></div>
            </div>
          </div>
          <div class="containers  pr custom_mobile_show">
            <div class="img-t "><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_1_b775c17a-c156-4bdc-9853-6027204e367b.jpg?v=1647418777"></div>
            <div class="bottom-c tc">
              <div class="title-top">EcoFlow DELTA Pro</div>
              <h3 class="title-h3 midd">Solar Bundle</h3>
              <div class="des-c sg">*Includes DELTA Pro + 400W Solar Panel</div>

              <div class="des-c thr"><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4697.jpg?v=1647418951">
                <p class="des">3.6kWh—25kWh</p>
              </div>
              <div class="des-c thr">
                <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4695.jpg?v=1647418951">
                <p class="des"> 3600W-7200W Output</p>
              </div>

              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/delta-pro-portable-power-station">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light-grey section-mbn section-6 custom_mobile_hidden">
         <div class="">
            <h2 class="title-h3 tc">More solar generator kits</h2>

          </div>
      </div>
      <div class="section-8 section-three bg-light-grey custom_mobile_hidden">
        <div class="title-container product-parameters">


          <div class="show-me">
          <div class="item-container">
            <div class="items-img">
              <div class="img-c">
                <img class="title-img" src="https://cdn.shopify.com/s/files/1/1996/9707/files/4510.jpg?v=1647434526">
              </div>
              <p class="items-title">Solar Bundle</p>
              <p class="des tc">*Includes DELTA Max + 4x 160W Solar Panels</p>

                 <img   src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/e7868f96d1d9c9660822d553d198305.jpg?v=1647940907" alt="PORTABLE POWER STATIONS" class="d-w-h-1 overlay-img custom_mobile_hidden banner-product-img">


    <!--           <p class="items-title2">210Wh</p> -->
              <p class="item-content">2016Wh</p>
              <p class="item-content">2000W Output</p>
              <p class="item-content"> Solar Charge Time<br>
    4.2-8.4Hr</p>
              <div class="l-more"><a target="_blank" href="https://us.ecoflow.com/products/delta-max-solar-generator-160w-solar-panel?variant=39424688848969">Learn More</a></div>
            </div>
            <div class="items-img huise">
              <div class="img-c">
              <img class="title-img" src="https://cdn.shopify.com/s/files/1/1996/9707/files/1_2e51f7b8-2ea4-4e17-a956-9e07d812cfd8.jpg?v=1647434527">
              </div>
                <p class="items-title">EcoFlow DELTA</p>
               <p class="des tc">*Includes DELTA + 160W Solar Panel</p>

                 <img  src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/1699c4d8733886cd85e5edaa5d503e1.jpg?v=1647940907" alt="PORTABLE POWER STATIONS" class="d-w-h-2 overlay-img custom_mobile_hidden banner-product-img">

    <!--           <p class="items-title2">288Wh</p> -->
              <p class="item-content">1260Wh</p>
              <p class="item-content">1800W Output</p>
              <p class="item-content"> Solar Charge Time<br>
    4-8Hr</p>
              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/delta-solar-generator-160w-solar-panel?variant=31953537302601">Learn More</a></div>
            </div>
            <div class="items-img mrn">
              <div class="img-c">
              <img class="title-img" src="https://cdn.shopify.com/s/files/1/1996/9707/files/4687.jpg?v=1647434527">
              </div>
              <p class="items-title">EcoFlow RIVER Pro</p>
              <p class="des tc">*Includes RIVER Pro + 110W Solar Panel</p>

                  <img    src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/4a5f285a6bd3191681db7021acd7a31.jpg?v=1647940907" alt="PORTABLE POWER STATIONS" class="d-w-h-3 overlay-img custom_mobile_hidden banner-product-img">

    <!--           <p class="items-title2">576Wh</p> -->
              <p class="item-content">720Wh</p>
              <p class="item-content">600W Output</p>
              <p class="item-content"> Solar Charge Time<br>
    4-8Hr</p>
              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/river-pro-solar-generator-110w-solar-panel?variant=31953132748873">Learn More</a></div>
            </div>


          </div>
          </div>
         </div>
      </div>
      <div class="bg-light-grey section-6 section-61">
         <div class="">

            <h2 class="title-h3 tc custom_mobile_show">More solar generator kits</h2>
          </div>
        <div class="section-6  max1600 ">


          <div class="containers  pr custom_mobile_show">
            <div class="img-t "><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/4705_05613760-c2e0-4301-b187-8293b8be2e12.jpg?v=1647447952"></div>
            <div class="bottom-c tc">
              <div class="title-top">EcoFlow DELTA Max</div>
              <h3 class="title-h3 midd">Solar Bundle</h3>
              <div class="des-c sg">*Includes DELTA Max + 4x 160W Solar Panels</div>


              <h3 class="title-h3 midd">2016Wh Capacity</h3>


              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/delta-max-solar-generator-160w-solar-panel?variant=39424688848969">Learn More</a></div>
            </div>
          </div>
        </div>
        <div class="section-6  max1600 ">


          <div class="containers  pr custom_mobile_show">
            <div class="img-t "><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/2_1_87a80dba-31ad-4eba-991c-3b1b166aec9e.jpg?v=1647447952"></div>
            <div class="bottom-c tc">
              <div class="title-top">EcoFlow DELTA</div>
              <h3 class="title-h3 midd">Solar Bundle</h3>
              <div class="des-c sg">*Includes DELTA 1000 + 160W Solar Panel</div>


              <h3 class="title-h3 midd"> 1260Wh Capacity</h3>


              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/delta-solar-generator-160w-solar-panel?variant=31953537302601">Learn More</a></div>
            </div>
          </div>
        </div>
        <div class="section-6  max1600 ">


          <div class="containers  pr custom_mobile_show">
            <div class="img-t "><img src="https://cdn.shopify.com/s/files/1/1996/9707/files/3_1_f22b0d6c-4999-460f-9dc3-cdf9d6a97cf7.jpg?v=1647447952"></div>
            <div class="bottom-c tc">
              <div class="title-top">EcoFlow RIVER Pro</div>
              <h3 class="title-h3 midd">Solar Bundle</h3>
              <div class="des-c sg">*Includes RIVER Pro + 110W Solar Panel</div>


              <h3 class="title-h3 midd"> 720Wh Capacity</h3>


              <div class="l-more"><a  target="_blank" href="https://us.ecoflow.com/products/river-pro-solar-generator-110w-solar-panel?variant=31953132748873">Learn More</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light-grey section-mbn section-6 custom_mobile_hidden">

         <div class="">
            <h2 class="title-h3 tc nmtp">What can they power?</h2>

          </div>
      </div>
      <div class="section-8 bg-light-grey custom_mobile_hidden">
        <div class="title-container product-parameters">

          <button type="button" class="show-me-button font-gotham"><i class="iconfont icon-jiahao"></i>&nbsp;&nbsp;SHOW ME</button>

          <div class="show-me">
          <div class="item-container">
            <div class="items-img">
              <p class="items-title">EcoFlow RIVER Pro</p>

                 <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/420.png?v=1647433120" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">


    <!--           <p class="items-title2">210Wh</p> -->
              <p class="item-content">Phone (11Wh)<br>59 Times</p>
              <p class="item-content">Fridge (150Wh)<br>
    4.5 Hrs</p>
              <p class="item-content">Laptop (60W)<br>
    10 Timess</p>
              <p class="item-content">CPAP (40W)<br>
    12 Hrs</p>
              <p class="item-content">WiFi Router (10W)<br>
    2 Hrs</p>
            </div>
            <div class="items-img huise">
              <p class="items-title">EcoFlow DELTA</p>


                 <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/418.png?v=1647433120" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">

    <!--           <p class="items-title2">288Wh</p> -->
              <p class="item-content">Phone (11Wh)<br>
    87 Times</p>
              <p class="item-content">Fridge (150Wh)<br>
    6.3 Hrs</p>
              <p class="item-content">Laptop (60W)<br>
    16 Times</p>
              <p class="item-content">CPAP (40W)<br>
    17 Hrs</p>
              <p class="item-content">WiFi Router (10W)<br>
    30 Hrs</p>
            </div>
            <div class="items-img ">
              <p class="items-title">EcoFlow DELTA Max</p>


                  <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/418.png?v=1647433120" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">

    <!--           <p class="items-title2">576Wh</p> -->
              <p class="item-content">Phone (11Wh)<br>
    175 Times</p>
              <p class="item-content">Fridge (150Wh)<br>
    14 Hrs</p>
              <p class="item-content">Laptop (60W)<br>
    32 Times</p>
              <p class="item-content">CPAP (40W)<br>
    34 Hrs</p>
              <p class="item-content">WiFi Router (10W)<br>
    60 Hrs</p>
            </div>
            <div class="items-img huise">
              <p class="items-title">EcoFlow DELTA Pro</p>


                  <img src="https://cdn.shopify.com/s/files/1/1996/9707/files/419.png?v=1647433120" alt="PORTABLE POWER STATIONS" class="overlay-img custom_mobile_hidden banner-product-img">

    <!--           <p class="items-title2">3600Wh</p> -->
              <p class="item-content">Phone (11Wh)<br>
    313 Times</p>
              <p class="item-content">Fridge (150Wh)<br>
    24 Hrs</p>
              <p class="item-content">Laptop (60W)<br>
    57 Times</p>
              <p class="item-content">CPAP (40W)<br>
    50 Hrs</p>
              <p class="item-content">WiFi Router (10W)<br>
    108 Hrs</p>
            </div>

          </div>
          </div>
         </div>
      </div>
      <div class=" section-9 section-6  max1600">

         <div class="d-t-c">
            <h2 class="title-h3 tc tlm nmtp">How do I choose?</h2>
           <div class="des">The EcoFlow RIVER Series are smaller, more portable options to give you power anywhere. The DELTA Series are larger, they can power more appliances, and still retain portability. Read our breakdown blogs to help you choose. </div>
         </div>
        <div class="m-t-c tc">
          <div class="m-t-i">
             <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/50.jpg?v=1647486713">
            <h3 class="title-h4">EcoFlow RIVER Series</h3>
            <div class="l-m"><a  target="_blank" href="https://ecoflow.com/blogs/blog/ecoflow-river-series-comparison-features-specs-applications">Compare</a></div>
          </div>
          <div class="m-t-i">
             <img src="https://cdn.shopifycdn.net/s/files/1/1996/9707/files/DELTA_MINI0002.jpg?v=1647486713">
            <h3 class="title-h4">EcoFlow DELTA  Series</h3>
            <div class="l-m"><a  target="_blank" href="https://ecoflow.com/blogs/blog/ecoflow-delta-series-comparison-which-portable-power-station-should-you-get">Compare</a></div>
          </div>
        </div>

      </div>
      <div class=" section-9 section-91 section-6  max1600">

         <div class="d-t-c">
            <h2 class="title-h3 tc tlm nmtp">Power outages near me</h2>
           <div class="des">Looking for US power outages to stay in the know?
    Use our “power outages near me” map to check your state for blackouts. Stay informed. Stay safe. </div>
         </div>
        <div class="map-c tc">
    <!--        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3156.3476277824757!2d-122.4728619847259!3d37.71151737977105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7c49c8539d13%3A0xe7e82f12059596a0!2s262%20Chester%20Ave%2C%20San%20Francisco%2C%20CA%2094132!5e0!3m2!1szh-CN!2sus!4v1647490408956!5m2!1szh-CN!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  -->

        </div>
        <iframe src="https://s3.amazonaws.com/datafusion.web.ecoflow/EcoFlow_MTN_0083BLgy.htm" style="width: 99%; height: 800px;"></iframe>
      </div>
    </div>

    <script>
    $(function() {
        $(".show-me-button").click(function() {
            $(this).next(".show-me").slideToggle("slow"),
            $(this).children(".iconfont").hasClass("icon-jiahao") ? ($(this).children(".iconfont").removeClass("icon-jiahao"),
            $(this).children(".iconfont").addClass("icon-jianhao")) : $(this).children(".iconfont").hasClass("icon-jianhao") && ($(this).children(".iconfont").removeClass("icon-jianhao"),
            $(this).children(".iconfont").addClass("icon-jiahao"))
        })
    });
    </script>